{% extends 'verbos/layout.html' %}

{% block style %}

table, th,td,tr {
	border: 0.5px solid ; 
	border-color: grey ;
	padding : 5px ;
	margin : 5px ;
	} 
.entete { 
	width : 400px ; 
	margin:auto ; 
	padding : 10px ; 
	border: 2px solid #000 ;
	border-radius: 8px ;
	background-color : palegreen ; 
	text-align : center ; 
	}

.exemple { 
	color:blue;
	font-style:italic ;
	}
.exemple_vert { 
	color:green;
	font-style:italic ;
	}

{% endblock %} 

{% block jsscript %} 

<script>
function ToggleAll() { 
	normas=document.getElementsByName("norma") ; 
	normas.forEach( function ( currentValue , currentIndex , listObj ) { 
			   ShowHide(currentValue.id) ; 
			},
	'myThisArg'
		);
	}
function ShowHide(id) { 
	var e = document.getElementById(id) ; 
	if (e.style.display =='block') 
		e.style.display='none'
	else 
		e.style.display='block'
}

document.addEventListener('DOMContentLoaded', (event) => {
		console.log('DOM fully loaded and parsed');
		normas=document.getElementsByName("norma") ; 
		normas.forEach( function ( currentValue , currentIndex , listObj ) { 
			   console.log(currentValue.id + ', ' + currentIndex + ', ' + this);
  },
  'myThisArg'
);
			
});

</script> 
{% endblock %}

{% block body1 %} 

<h1> Gramatica </h1> 
<br> 

<button onclick="ToggleAll()" > mostrar todas normas / esconderlas </button> 


<div  class="entete"  onclick="ShowHide('zoneAafficher000')" > 
<span style="margin-left:3%;" name="normatitulo"> 
 -000- SER y ESTAR   </span> 
</div>
<div id='zoneAafficher000' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
<table>
    <thead>
        <tr>
            <th colspan="2"> SER Y ESTAR</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>SER</td>
            <td>ESTAR </td>
        </tr>
	<tr>
		<td>Descripción física <span class="exemple"> ( ser joven , ser niño ) </span> </td>
            	<td>Localización </td>
        </tr>
	<tr>
            <td> Identidad ( genero .. ) </td>
            <td> Estados ( muertos / cansados / tristes .. )  </td>
        </tr>
	<tr> 
		<td> nom de nombre, devant un indefini présentant une idée de nombre <br> <span class="exemple"> Eran trece. Somos muchos </span> </td>
		<td> devant un complément de temps  <br>  <span class="exemple"> estamos a 1° de abril , estamos en primavera </td>
	</tr>
	<tr>
		<td> Ser + las horas  <span class="exemple">  Son las once, es miércoles </span>  </td>
        	<td>   </td>
        </tr>
	<tr>
            <td> Nacionalidad <br>  Profesión <br>   Religión</td>
            <td> devant un participe passé exprimant un état ou certain adverbes <br>  <span class="exemple"> Claro está ! está terminado <br> está para salir ( sur le point de  ) <br> está de vacaciones  <br> está de broma ( d'humeur à plaisanter)   </td>
        </tr>
	<tr> 
		<td> devant un infinitif <br> <span class="exemple"> Querer es poder. Lo mejor es esperar </span>
		<td> Estar + gerundio <br> <span class ="exemple">  estoy comiendo </td>
	</tr>
	<tr>
		<td> Acontecimiento : indicar lugar fecha hora <br> <span class="exemple"> Donde es la cena ? cuando es la fiesta ?  </span>  <br> si on peut traduire par  " se passe" => ser </td>
		<td> Acontecimiento : indicar la situación física o temporal <br> <span class="exemple"> Donde estabas esta noche ? Ya estamos a viernes </span>  </td>
        </tr>
	<tr>
		<td> voix passive ser + participe passé <span class ="exemple"> el problema fue resuelto por el directo <br > ( el problema lo resolvió el director )  </td>
		<td> Devant un participe passé , estar pour exprimer un état ou le resultat d'un action <br> <span class="exemple"> el terrano está rodeado por una tapia </span> </td>
	</tr>
	<tr>
            <td> Definición </td>
            <td>  </td>
        </tr>
	<tr>
            <td> Ser bueno / malo être bon /méchant </td>
            <td> Estar bien / mal être en bonne santé <br> Estar malo etre malade </td>
        </tr>
	
	
	
	<tr>
            <td> Ser fresco : être culoté </td>
            <td> estar fresco : être dans l'erreur , de beaux draps   </td>
        </tr>		
	<tr>
            <td> Ser rico / pobre </td>
            <td> estar rico : être savoureux, délicieux ( pour un plat )   </td>
        </tr>		
	<tr>
            <td> Ser cansado : être fatiguant </td>
            <td> Estar cansado : être fatigué  </td>
        </tr>
	<tr>
            <td> Ser listo : être intelligent, vif </td>
            <td> Estar listo : être prêt  </td>
        </tr>
	
	
	<tr>
		<td> ser nervioso : être nerveux </td>
		<td> estar nervioso : être énervé </td>
	</tr>
	<tr>
		<td> ser nuevo : être neuf </td>
		<td> estar nuevo : être en bon état </td>
	</tr>
	<tr>
		<td> ser verde : être vert ( couleur )</td>
		<td> estar verde : être vert ( pas mur )</td>
	</tr>
	<tr>
		<td> ser atento : être attentionné</td>
		<td> estar atento : être attentif </td>
	</tr>
	<tr>
		<td> ser loco : être fou</td>
		<td> estar loco : faire le fou , être cinglé</td>
	</tr>
	<tr>
		<td> ser mudo : être muet </td>
		<td> estar mudo : ne rien dire </td>
	</tr>
	<tr>
		<td> ser feliz, ser dichoso <br> ser infeliz, ser desgraciado <br> ser obligatorio <br> ser posible <br> ser cierto <br> ser necesario <br> Ser verdad / falso</td>
		<td> estar contento <br>  estar descontento <br>  Estar prohibido / permitido  <br> estar enfermo <br> estar solo <br> estar satisfecho <br> Estar soltero casado</td>
	</tr>

    </tbody>
</table>   
</div> 


<div class="entete"  onclick="ShowHide('zoneAafficher001')" > 
<span style="margin-left:3%;" name="normatitulo"> 
-002-  Comparativos    </span> 
</div>
<div id='zoneAafficher001' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
	<div class="contentblock"> 
		<div> 
<table>
   
    <tbody>
        <tr>
            <td> </td> 
			<td>adjectif</td>
            <td>nom </td>
			  <td>verbe  </td>
        </tr>
		  <tr>
            <td> Supériorité </td>
            <td> Más (grande )  que  </td>
			<td> Más (parque) que.. </td> 
			<td> (Salir) Más  que </td> 
        </tr>
		<tr>
            <td> Infériorité </td>
            <td> Menos ( luminosa ) que </td>
			<td> Menos ( parque ) que </td> 
			<td> Salir menos.. que   </td> 
		</tr> 
       	<tr>
            <td> Igualidad </td>
            <td> Tan caro como  </td>
			<td> Tanta luz como <br> Tanto espacio como  </td> 
			<td> Salir tanto como  </td> 
        </tr>
		
    </tbody>
</table>   
	</div> 
	<div> 
		ejemplos 
		<ol> 
		<li> 
		<li> 
		</ol> 
	</div>
	</div> 
</div> 

<div class="entete" onclick="ShowHide('zoneAafficher003')" > 
<span style="margin-left:3%;" name="normatitulo"> 
-003- GERUNDIO - Participe Passé   </span> 
</div>
<div id='zoneAafficher003' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
<ol> Gerondio
	<li class="vert"> Formation : </li> 

	<ul> 
		<li> Verbe en ar => ando   : cantando </li>
		<li> Verbe en er => iendo : comiendo </li>
		<li> Verbe en ir => iendo : viviendo </li>
		
	</ul>
	<li class="vert"> Utilisation </li>
	<ul>
		<li> ESTAR : action en cours : <span class="exemple">  Estaba leyendo  </span></li>
		<li> LLEVAR : spécifie une durée : <span class="exemple">  llevo 5 años viviendo aqui  </span></li>
		<li> SEGUIR : continuité de l'action : <span class="exemple">  Siguió hablando   </span></li>
		<li> VENIR : mouvement vers le présent ou insistance : <span class="exemple">  Viene diciendo que no lo sabía ( il continue à dire qu'il ne savait pas ) </span></li>
		<li> IR : action en cours et se développant : <span class="exemple"> Los precios van subiendo  </span></li>
		<li> Andar, salir, quedarse, acabar....  </li>
	</ul>
</ol> 
<table> </tabe>
<tbody> 
<head>> 
<tr> 
	<td> infinitivo </td>
	<td> Participe passé 1 <br> conjug </td>
	<td> participe passé 2 <br> adj </td>
	<td> gerondif </td>
</tr>
</head> 
<tr> 
	<td> bendecir	</td>
	<td> bendicito </td>
	<td> bendito </td>
	<td>	</td>
</tr>
<tr> 
	<td> Despertar	</td>
	<td> despertado </td>
	<td> despierto  </td>
	<td>	</td>
</tr>

<tr> 
	<td> extender	</td>
	<td> extendido  </td>
	<td> extenso  </td>
	<td>	</td>
</tr> 

<tr> 
	<td> fijar	</td>
	<td> fijado </td>
	<td> fijo </td>
	<td>	</td>
</tr>	
<tr> 
	<td> juntar	</td>
	<td> juntado </td>
	<td> junto  </td>
	<td>	</td>
</tr>
<tr> 
	<td> maldecir	</td>
	<td> maldecido  </td>
	<td> maldito </td>
	<td>	</td>
</tr>
<tr> 
	<td> manifestar	</td>
	<td> manifestado  </td>
	<td> manifiesto  </td>
	<td>	</td>
</tr>
<tr> 
	<td> oprimir	</td>
	<td> oprimido  </td>
	<td> opreso  </td>
	<td>	</td>
</tr>	
<tr> 
	<td> prender	</td>
	<td> prendido  </td>
	<td> preso </td>
	<td>	</td>
</tr>
<tr> 
	<td> presumir	</td>
	<td> presumido </td>
	<td> presunto  </td>
	<td>	</td>
</tr>
<tr> 
	<td> soltar	</td>
	<td> soltado </td>
	<td> suelto  </td>
	<td>	</td>
</tr>	
<tr> 
	<td> suprimir	</td>
	<td> suprimido  </td>
	<td> supreso </td>
	<td>	</td>
</tr>
</tbody>
</table>
</div> 
<div class="entete"  onclick="ShowHide('zoneAafficher004' )" > 
-004- Oxyton paroxiton / accent tonique 
</div> 
<div id='zoneAafficher004' style="text-align: justify; margin-left: 40px;display:none" name="norma" >

<table>
    <tbody>
        <tr>
            <td> écrit -> lire </td>
            <td>Pour les mots qui se terminent en <span style="font-weight:bold;color:blue">voyelle, n ou s </span> </td>
			<td>Pour les autres</td>
        </tr>
		<tr>
            <td>Si pas d’accent <br>  dans le mot </td>
            <td>C’est l’avant dernière syllabe qui est tonique 
			<br> Ma<span style="font-weight:bold;color:red">ce</span>ta, 
			<br> per<span style="font-weight:bold;color:red">ua</span>no, 
			</td>
		
			<td>C’est la dernière syllabe qui est accentuée 
			<br> Digni<span style="font-weight:bold;color:red">dad </span> 
			<br> inici<span style="font-weight:bold;color:red">al </span> 
			</td>
        </tr>
		<tr>
            <td>Si un accent</td>
            <td colspan="2" style="text-align:center" >Accent tonique là où est l’accent 
			<br> So<span style="font-weight:bold;color:red">fá </span> 
			<br> Bon<span style="font-weight:bold;color:red">bón </span> 
			<br> esco<span style="font-weight:bold;color:red">cés </span> 
			</td>
			
        </tr>
    </tbody>
</table>
Autre facon d'expliquer plus académique  
<table>
  
    <tbody>
        <tr>
            <td> entendre -> ecrire  ? </td>
            <td>Lleva tilde  </td>
			<td>No lleva tilde</td>
        </tr>
		<tr>
            <td>Agudas (oxyton <br> sobre ultima )  </td>
            <td>Si se terminan con <span style="font-weight:bold;color:blue"> « n » « s » o una vocal  </span> 
			<br> So<span style="font-weight:bold;color:red">fá </span> 
			<br> Bon<span style="font-weight:bold;color:red">bón </span> 
			<br> esco<span style="font-weight:bold;color:red">cés </span> 
			</td>
			<td>Otras palabras 
			<br> Digni<span style="font-weight:bold;color:red">dad </span> 
			<br> inici<span style="font-weight:bold;color:red">al </span> 
			</td>
        </tr>
		<tr>
            <td>Llanas ( paroxyton) <br> Sobre penultima 
			</td>
            <td> <span style="font-weight:bold;color:red">Cés</span>ped  
			</td>
			<td>Si se terminan con <span style="font-weight:bold;color:blue">« n » « s » o una vocal  </span> 
			<br> Ma<span style="font-weight:bold;color:red">ce</span>ta, 
			<br> per<span style="font-weight:bold;color:red">ua</span>no, 
			</td>
		</tr>
		<tr>
            <td>Esdrujulas (sobre <br> antepenultima ) <br> y sobreesdrujulas 
			</td>
            <td colspan="2" style="text-align:center" >Siempre llevan tilde sobre la sílaba
			<br> 
			Elec<span style="font-weight:bold;color:red" >tró</span>nica <br> 
			A<span style="font-weight:bold;color:red" >prén</span>detelo
			</td>
		</tr>
    </tbody>
</table>
<br> 
	tableau memo 
	<table> 
		<tbody> 
			<tr> 
				<td> sílaba </td> 
				<td> n - s - vocal </td> 
				<td> otras pal </td> 
			</tr> 
			<tr> 
				<td> acc ultima síl </td>
				<td> poner tilde </td> 
				<td> 	</td> 
			</tr> 
			<tr>
				<td> acc ant ult síl </td> 
				<td> </td> 
				<td> poner tilde </td> 
			</tr>
		</tbody> 
	</table> 
<br> 
Attention aux mots se terminant par és  , íon qui , au pluriel , prennent une syllabe de plus <span class="exemple">  ( franceses , correcciones ) </span>  et perdent alors leur tilde
<br> <br>
"Tilde diacritica" accent changeant le sens ( à l'écrit ) 
<br> 
<table> 
	<body> 
		<tr> 
			<td> lleva tilde</td> 
			<td> no lleva tilde</td> 
		</tr>
		<tr> 
			<td>más : plus de </td> 
			<td>mas : pero ( litt)</td> 
		</tr>
		<tr> 
			<td> mí : à moi </td> 
			<td> mi : mon ma ( mi casa )</td> 
		</tr>
		<tr> 
			<td> té : la bebida </td> 
			<td> te : pronombre</td> 
		</tr>
		<tr> 
			<td> tú : pronombre ( yo tú.. ) </td> 
			<td> tu : poss : tu casa</td> 
		</tr>
		<tr> 
			<td> él : pronombre</td> 
			<td> el : articulo</td> 
		</tr>
		<tr> 
			<td> sé : saber</td> 
			<td> se : pronom</td> 
		</tr>
		<tr> 
			<td> dé  : dar</td> 
			<td> de : prep </td> 
		</tr>
		<tr> 
			<td> quién : interrogatif ? </td> 
			<td> quien : subor : el que</td> 
		</tr>
		<tr> 
			<td> qué : interrogatif</td> 
			<td> que : subordonnée</td> 
		</tr>
		<tr> 
			<td> sí : oui ! </td> 
			<td> si : conditional</td> 
		</tr>
		<tr> 
			<td> cómo : comment ?  </td> 
			<td> como : comme </td> 
		</tr>
		<tr> 
			<td> áun : pas encore / todavia  </td> 
			<td> aun : aunque - bien que </td> 
		</tr>
		<tr> 
			<td> sólo : seulement  </td> 
			<td> solo sola : seul(e)  </td> 
		</tr>

	</body>
</table>
</div>

<div class="entete" onclick="ShowHide('zoneAafficher005')" > 
<span style="margin-left:3%;" name="normatitulo"> 
-005- Accord temps conditionnel  Si + sss  </span> 
</div>
<div id='zoneAafficher005' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
 Les choix du temps sont fonction de la probabilité  : 
 <ol> 
 <li> la condition est réalisable : [ Si + present ind ] [ ind pres ou futur ] 
	 <br> <span class="exemple">  Compraré pan si la panaderia esta abierta </span>  </li> 
 <li> la condition n'est pas realisable [ Si + imparfait du Subj ] [ ind conditionnel ]   
	 <br> <span class="exemple"> Si ganara al loto , viviría en un castillo </span> </li>  
 </ol>  

</div> 

<div class="entete" onclick="ShowHide('zoneAafficher006')" > 
<span style="margin-left:3%;" name="normatitulo"> 
	-006-Concordance des temps : subordonnée au subjontif  </span> 
</div>
<div id='zoneAafficher006' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
	Il s'agit de trouver comment appliquer la concordance des temps entre la principale et la subordonnée. <br> 
	Les règles à appliquer vont dépendre du sens de la phrase. Il faut donc identifer  
 <ol> 
 <li> la nature de la phrase principale + subordonnée  </li> 
 <li> pour aller chercher la règle adaptée   </li> 
 </ol>    
 
 <table> 
	 <thead> 
		 <td> Cas </td> 
		 <td> Principale  </td> 
		 <td> sub introduite par </td> 
		 <td> Subordonnée </td>
		 <td> exemple </td> 
	 </thead> 
	 <tr > 
		 <td rowspan="2"> Subordonnée temporelle <br> dans le sens d'une <br> condition temporelle </td> 
		 <td> au futur ou à <br>  l'imperatif </td> 
		 <td  > a medida que <br> antes de que <br> Apenas..cuando <br> cada vez <br> siempre que <br>  cuando <br> desde que <br> conforme que <br>  luego que <br> hasta que <br> en cuanto <br>  tan pronto que <br> mientras <br> siempre que <br> conforme <br> una vez que  <br> </td>
		 <td> subj présent </td>
		 <td class="exemple" > Te hablaré cuando tenga tiempo.  <br> Comeremos luego que lleguemos <br> Limpiaremos hasta que el suelo esté limpio <br> Te pagaré en cuanto termines tu trabajo <br> Llama me tan pronto que ella llegue  </td> 
	</tr> 
	<tr> 
		<td>  </td> 
		<td> antes de que </td> 
		<td> subj </td>
		<td class = "exemple" > Como antes de que la comida esté fria.  </td> 
	</tr>
	 <tr> 
		<td> Fait pas encore réalisé <br> Action de la princ <br> antérieure <br> à l'action de la sub  </td> 
		<td> indicatif </td> 
		<td> antes de que <br> primero que <br> ...  </td>
		<td> subj </td>
		<td class="exemple"> Puedes pedir me lo que quieras. <br> Viviremos donde encontremos empleos. <br> El ultimo que salga cerrará la puerta <br> Me habían informado antes de que Pedro me lo anunciara </td> 
	</tr> 
	  <tr> 
		 <td rowspan="2"> Interrogation indirecte </td>
		 <td> indicatif présent  </td>
		 <td rowspan="2">  <span style="font-weight:bold;color:red"> cuándo <br> cuánto <br> cómo .. </td>
		 <td> indicatif (futur ?)</td>
		 <td class="exemple"> No sabemons cuándo vendra.</td>
	 </tr>
	   <tr> 
		 
		 <td> indicatif passé  </td>
		
		 <td> conditionnel (?)</td>
		 <td class="exemple"> Le preguntaron cuánto pagaría.</td>
	 </tr>
	 <tr> 
		 <td> Principale au conditionnel </td>
		 <td> conditionnel </td>
		 <td>  <span style="font-weight:bold;color:red"> que </td>
		 <td> subjontif imparfait</td>
		 <td class="exemple"> Me gustaría que fregarais los platos vosotros y me quedaría sin hacer nada.</td>
	 </tr>
	<tr> 
		<td> Condition irréalisable  </td>
		<td> conditionnel </td>
		<td rowspan="2"> <span style="font-weight:bold;color:red"> si  </td>
		<td> subj imp </td>
		<td class = "exemple" > no cambiaría nada  si pudiera empezar todo de nuevo </td>
	</tr>
	 <tr> 
		<td> Condition réalisable  </td>
		<td> ind futur  </td>
		<td> ind présent  </td>
		<td class = "exemple" >  Compraré pan si la panaderia está abierta </td>
	</tr>
	
	<tr> 
		<td> Fait inconnu ou <br>  avec une condition </td> 
		<td>  </td> 
		<td> Como (comme) <br> Como (si/ si jamais) <br> con tal que (à condition que) <br> siempre que (à condition que) <br> a no ser que (à moins que) </td> 
		<td> subj </td>
		<td class ="exemple" > Podrás vestirte como quieras. <br> No iré como vengas <br> El come con tal que la comida sea rica <br>Llegaré a las 8 a no ser que el tren se retrase</td> 
	</tr>
	<tr> 
		<td rowspan="5" > Subordonnée concessive </td> 
		<td rowspan="2">  </td> 
		<td   > <span class="exemple_vert"> Fait certain </span> <br> Aunque ( même si) <br> a pesar de que ( malgré, bien que ) <br> y eso que (alors/bien que )  </td> 
		<td> indicatif  </td>
		<td class= "exemple"> El pregunta aunque sabe todo lo que pasó <br> se baña cada dia y eso que está enfermo  </td> 
	</tr>
	 <tr> 
		 
		<td   > <span class="exemple_vert"> Fait incertain </span>  <br> Aunque ( même si) <br> aun cuando (même si ) <br> aun cuando + imp (quand bien même)    </td> 
		<td> subj  </td>
		<td class= "exemple"> perderemos el tren aunque tomemos un taxi <br> no le diré nada aun cuando lo exija  </td> 
	</tr>
	 <tr> 
		 
		<td rowspan="3"> Locution concessive  </td> 
		<td> <span class="exemple_vert"> Verbe ou nom => </span> <br> Por más.... que <br> por mucho ....que ( avoir beau ) </td> 
		<td> subj  </td>
		<td class= "exemple"> Por más que busques , no la encontrarás <br> Por mucho dinero que gane, no ahorra nada </td> 
	</tr>
	 <tr> 
		 
		
		<td> <span class="exemple_vert"> Adj ou PP => </span> <br> por muy ... que  </td> 
		<td> subj  </td>
		<td class= "exemple"> Por muy guapa que sea, no tiene exito </td> 
	</tr>
	 <tr> 
		 
		
		<td>por poco que  ( pour peu que ) </td> 
		<td> subj  </td>
		<td class= "exemple"> Por poco que insista , se la daré </td> 
	</tr>
	<tr> 
		<td> Opinion à la forme négative </td> 
		<td> no creer <br> no pensar <br> no parecerle </td>
		<td> que </td>
		<td> subj </td>
		<td class="exemple"> No creo que venga.  <br> No pienso que tengas razon. <br> No me pareció que estuviéramos tarde </td>
	</tr> 
	<tr> 
		<td> Opinion et sentiments </td> 
		<td> encantar <br> molestar  <br> gustar <br> apasionar <br> importar <br> fascinar <br> entusiamar <br> horrizar <br> irritar <br> sentir bien/mal  <br> poner nervioso/tite <br> hacer illusion/gracia <br> dar miedo /pereza   </td>
		<td>  </td> 
		<td> subj </td>
		<td class="exemple"> Me encanta que me regalen flores <br> Me molesta que hagas ruido <br> Me gusta que vengas <br> Odio que no me mire <br> Me importa que durmamos con la ventana abierta <br> Me fascina que los ninos no jueguen  </td>
	</tr> 
	<tr> 
		<td> Demande  </td>  
		<td> decir <br> escribir <br> pedir <br> rogar <br> supliquar <br> querer <br> ordenar <br> encargar <br> mandar <br>  </td>
		<td> que <br>   </td> 
		<td> subj </td>
		<td class="exemple"> Nos decimos que hagamos menos ruido.  <br> Me pide que le mandemos dinero. <br> Me pidío que le mandáramos dinero  </td>
	</tr> 
	<tr> 
		<td> Souhait<br> le but  </td>  
		<td> desear <br> querer <br> tener ganas </td>
		<td> que <br> para que <br> a que <br> a fin de que <br> con objeto de que <br> de mode que <br> de manera que  </td> 
		<td> subj </td>
		<td class="exemple"> Deseo que lleguemos antes de la noche.  <br> Quiero que me prestes tu coche. <br> tengo ganas que comamos antes de salir 
			<br> Buscabamos un coche que consumiera menos gasolina <br> Lo dicen para que este artículo se venda mejor  </td>
	</tr> 
	 	<tr> 
		<td> crainte  </td>  
		<td> temer <br> tener miedo de <br> tener ganas </td>
		<td> que <br> por miedo a que ( de crainte de ) </td> 
		<td> subj </td>
		<td class="exemple"> Tengo miedo que no encuentren trabajo.    </td>
	</tr> 
	<tr> 
		<td> Conseil <br>  but <br>  obligation </td>  
		<td> recomandar <br> aconsejar <br> mandar <br> ordenar  <br> prohibir <br> impedir  </td>
		<td> que <br> para que <br> a fin que <br> con objeto de que <br> de modo que <br> hasta que  </td> 
		<td> subj  </td>
		<td class="exemple"> Te aconsejo que veas esta pelicula.  <br> La maestra nos manda que no hagamos ruido. <br> Es necessario que vengas <br> Necessitamos que construyan nuevas industrias en la zona.  </td>
	</tr> 
	<tr>
		<td rowspan="10" > mots clé <br> expression </td>
		<td> cause </td>
		<td> por miedo a que <br> por temor de que <br> en caso de que  </td>
		<td> subj pre/imp  </td>
		<td class ="exemple">  </td>
	</tr>
	  <tr>
		
		<td> restriction  </td>
		<td> a no ser que (à moins que) <br> a menos que <br> con que <br> con tal (de) que (à condition que) <br>  siempre que ( si toutefois )<br>siempre y cuando <br> a condición de que <br> por poco que </td>
		<td> subj pre/imp  </td>
		<td class ="exemple"> no les da nada a no ser que te lo diga <br> siempre que puedas, ven a vernos mañana <br> te perdona con tal que digas la verdad  </td>
	</tr>
	

	<tr>
		
		<td rowspan="3"> souhait </td>
		<td rowspan="3"> Ojalá  </td>
		<td> subj présent : pourvu que... <br> (souhait réalisable) </td>
		<td class ="exemple"> Ojalá que la panaderia esté abierta </td>
	</tr> 
	 <tr>
		
		
		<td> subj imp : pouvu que... <br> (souhait réalisable) </td>
		<td class ="exemple"> Ojalá que llegara antes de las 8  </td>
	</tr>
	
	<tr>
		
		
		<td> subj plus que parfait : si seulement.. <br> (souhait irréalisable) </td>
		<td class ="exemple"> Ojalá nos hubieses acompañado a Paris    </td>
	</tr>	
	
	 <tr>
		<td> tous les temps </td>
		<td > <span style="font-weight:bold;color:red"> como si </span> </td>
		<td> <span style="font-weight:bold;color:red"> subj imp </span>   </td>
		<td class ="exemple"> Me grita como si no lo oyera  </td>
	</tr>
	 <tr> 
		<td rowspan="4"> Peut être  </td>
		<td rowspan="2"> quizá <br> quizás ( peut être) <br>  acaso  <br> tal vez </td>
		<td> Verbe + adv => ind </td>
		<td class ="exemple"> Tendrá , acaso , treinta años  <br> </td>
	</tr> 
	 <tr> 
		<td>  Adv + verbe => subj </td>
		<td class ="exemple"> Fernando,quizás no conozca mi dirección. <br> Tal vez esté enfermo  </td>
	</tr> 
	 <tr>
		
		<td> greeh les memes que ci dessus (??)  </td>
		<td> subj  </td>
		<td class ="exemple">  Ya sabes que tal vez lleguen mañana </td>
	</tr>
	  <tr>
		
		<td> a lo mejor (peut être)  </td>
		<td> ind  </td>
		<td class ="exemple"> A lo mejor , llegará hoy   </td>
	</tr>
 </table> 
</div>

<div class="entete" onclick="ShowHide('zoneAafficher007' )" > Concordance des temps : Subordonnée  
</div> 
<div id='zoneAafficher007' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
<ul>
	<li> Concordance des temps quand la subordonnée est à l'indicatif 
		<ol>
			<li> Comme en français <span class="exemple" > digo que él se va / que él se iba / que él irá ..</span></li> 
		</ol>
	<li> Concordance des temps avec une subordonnée au subjonctif </li> 
		<ol> 
		<li> si la principal est au présent / futur  / preterito perfecto . impératif  => subordonnée au subj présent </li>
		<li> si la principale est au pret indefinido / imperfecto / conditionnel /  preterito perfecto => sub à l'imparfait ou plus que parfait 	</li> 
		</ol>
</ul>
</div> 

<div class="entete" onclick="ShowHide('zoneAafficher1b')" > 
<span style="margin-left:3%;" name="normatitulo"> 
 - 1b- Concordance des temps : style indirect
</div>
<div id='zoneAafficher1b' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
 
<span> Le contexte est celui de rapporter une action, une question, une demande  en utilisant 
	<ul> 
		<li> une phrase principale utilisant un des verbes introduisant le style indirect
		<li> une subordonnée spécifiant l'action, la question , la demande .. 
	</ul> 
	<span> il faut bien distinguer la concordance des temps dans le contexte du <span class="exemple"> style indirect </span> versus les autres contextes qui , en général , introduise le subjonctif dans la subordonnée.
	<div class="contentblock"> 
	<div>
	<table>
  <tr>
    <th>Principale </th>
    <th>Subordonnée </th>
  </tr>
  <tr> 
	  <td> Presente  <br> <span class="exemple">  Pedro pregunta..  </td> 
	  <td> Presente  <br> <span class="exemple"> ..que Maria viene con ellos  </td>
</tr> 
  <tr>
	  <td rowspan="2">Preterito perfecto <br> <span class="exemple" > Pedro ha dicho.. </th>
		  <td>Presente <br> <span class="exemple"> ..que Maria esta enfermada</td>
  </tr>
  <tr>
	  <td>Imperfecto <br> <span class="exemple"> ..que Maria estaba enfermada </td>
  </tr>
  <tr> 
	  <td> Preterito Indefinido  <br> <span class="exemple"> Los ninos pidieron..   </td> 
	  <td> Imperfecto   <br> <span class="exemple"> ..que tu jugabas  con ellos  </td>
</tr> 
  <tr> 
	  <td> Imperatif   <br> <span class="exemple">  Cuenta me..   </td> 
	  <td> Subjonctif   <br> <span class="exemple"> ..lo que  Maria te diga!  </td>
</tr> 
</table>
</div> 
<div> 
	Les subordonnées sont introduites par 
	<ul> 
		<li> decir
		<li> contar 
		<li> preguntar 
		<li> pedir 
		<li> recomandar ( + subj : voir § )
	</ul> 
	</div> 
	</div> 
</div> 






<div class="entete" onclick="ShowHide('zoneAafficher005' )" > 
-005- Ningún o ninguno ? apocope  
</div> 
<div id='zoneAafficher005' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
 <ol> 
	<li> Ninguno si pas de nom après </li> 
	<li> ningún si il y a un nom masculin  / mais ninguna si feminin </li>
	<li> ex  <span class ="exemple">  ningún pico   mais no hay ninguno , hay ninguna tienda , no hay ninguna  </span> </li>
 </ol> 
	Applicable avec 
<ul> 
	<li> un / uno <span class="exemple"> Tiene un vaso ? tengo uno </span> </li>
	<li> algún / alguno </li>
	<li> Bueno malo primero tercero postero perdent le o devant un nom masculin signulier <span class ="exemple"> Vivo en el tercer piso </span> </li>
	<li> CUALQUIERA perd le 'a' final devant un nom masculin ou féminin singulier et devant l'indéfini 'otro', 'otra'.<span class ="exemple"> Cualquier sitio es bueno para leer un libro. </span> </li>
	<li> CIENTO perd la syllabe finale '–to' devant un nom masculin ou féminin et devant un nombre qu'il multiplie. <span class="exemple"> Cien personas, dos cientos y uno libros </span>  </li>	
	<li> SANTO perd la syllabe finale '–to' devant le nom propre d'un saint, sauf si celui-ci commence par 'To-' ou 'Do-'.<span class="exemple"> Santo Domingo , San Juan </span> </li>
	<li> TANTO et CUANTO perdent la syllabe finale '–to' devant un adjectif ou un adverbe. 
		<br> Exception : Tanto et cuanto ne perdent pas la syllabe finale devant les adverbes mejor, peor, más et menos.
		<br> <span class="exemple"> Se ha marchado tan temprano. Tanto mejor </span> </li> 
 </ul> 
</div>


<div class="entete" onclick="ShowHide('zoneAafficher007' )" > 
-007- Duracion    
</div> 
<div id='zoneAafficher007' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
 <ol> 
	 <li> Hace + cantidad de tiempo + que + verbo <span class="exemple">  hace mas que tres anos que vivo en espana </li> 
	 <li> Desde hace + cantidad de tiempo <span class="exemple">  no veo Carlos desde hace un ano </li> 
	 <li> Desde + fecha <span class="exemple">  no veo Carlos desde enero </li>
	 <li> Desde que + verbo <span class="exemple">    esta en grenada desde que empezo el curso </li>
 </ol> 
</div>

<div class="entete" onclick="ShowHide('zoneAafficher008' )" > 
-008- Preterito Perfecto ( passé composé )       <br> haber + participio    ( ido / ado ) 
</div> 
<div id='zoneAafficher008' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
Les termes suivant introduisent un preterito perfecto 
 <ol> 
<li>  Les termes suivant introduisent un preterito perfecto <span style="font-weight:bold"> Este xxx ( este año .. ) hoy, ya , todavia no,  ultimamente, por fin ( il était temps ), nunca , alguna vez , varias veces , hoy, este año , este mes , este fin de semana </span> </li> 
<li> On ne précise pas le moment exact dans le passé </li> 
<li> L’évènement du passé dont on parle a un lien avec le présent , cad qu’il produit un effet maintenant encore ou il est situé dans une même unité de temps ( hoy , este mes . ) 
<span style="font-weight:bold">  Este fin de semana , he comido demasiado ( misma semana ) </span> </li> 
 </ol> 
</div>


<div class="entete" onclick="ShowHide('zoneAafficher009' )" > 
-009- Preterito indefinido  ( passé simple  )  <br>  ( é / aste / ó , amos, áis, aron .. ) 
</div> 
<div id='zoneAafficher009' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
Les termes suivant introduisent un preterito perfecto 
 <ol> 
 <li> On précise le moment du passé ( <span style="font-weight:bold"> ayer, el año pasado , el otro dia, la semana pasada .. </span> ) </li> 
 <li> Cette action n’a plus de lien avec le présent ou ne fait pas partie de la même unité de temps : <span style="font-weight:bold"> el otro dia fui a la catedral   (otro dia que hoy ) </span>  </li> 
 </ol> 
</div>




<div class="entete" onclick="ShowHide('zoneAafficher010' )" > 
-010- Pronoms pour COD / COI  
</div> 
<div id='zoneAafficher010' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
Rappel 
<ul> 
<li> le COD repond à la question  " qué ?" Astrid come un melon "  / que come Astrid ? un melon  = COD 
<li> le COI repond à la question "a quien ?"  Astrid regala un tiburon a Brigitte . A quien Astrid regala un tiburon ? A Brigitte = COI 
</ul> 
	<div class="contentblock"> 
		<div> 
<table> 
	<thead> 
		<tr> 
			<td> Pronumbre </td> 
			<td> COD </td> 
			<td> COI </td> 
			<td> à préposition  </td> 
		</tr>
	</thead> 
	<tbody> 
		<tr> 
			<td> yo </td> 
			<td> me </td> 
			<td> me  </td> 
			<td> mí (1)  </td> 
		</tr>
		<tr> 
			<td> tú </td> 
			<td> te </td> 
			<td> te  </td> 
			<td> ti (1)  </td> 
		</tr>
		<tr> 
			<td> él / ella </td> 
			<td> le / la / lo </td> 
			<td> le  </td>
			<td> él/ella/Ud  </td> 
		</tr>
		<tr> 
			<td> nosotros </td> 
			<td> nos </td> 
			<td> nos  </td> 
			<td> nosotros/nosostras  </td> 
		</tr>
		<tr> 
			<td> vosotros </td> 
			<td> os </td> 
			<td> os  </td> 
			<td> vosostros/vosotras  </td> 
		</tr>
		<tr> 
			<td> ellos / ellas </td> 
			<td> los las  </td> 
			<td> les </td> 
			<td> ellos/ellas/ Uds  </td> 
		</tr>
	</tbody> 
	</table> 

		</div> 
		<div > ejemplos 
			<ul> 
				<li class="exemple"> Astrid lo regala ( el tiburon COD ) 
				<li class="exemple"> Astrid me regala un tiburon  ( COI ) 
				<li class="exemple"> Astrid le regala un tiburon a Brigitte ( on  repéte toujours le COI ...)
				
				<li class="exemple"> Astrid se lo regala a Brigitte </li>
				<li class=exemple> le hablo a él </li>
				<li class=exemple> él cree en nosostras </li>
			</ul> 
			<ul> pero ... 
				<li> (1) après según, salvo, menos, excepto, incluso hasta : on emploie yo et tú en place de mí et tu <br> <span class="exemple"> según yo, todos se equivocan menos tú</li>
				<li> pronom d'accompagnement des 1° et 2° perso sing : comigo contigo consigo <br> <span class="exemple"> viene conmigo, no con Ud <br> <span class="exemple"> lo lleva consigo ( il l'emporte avec lui )  </li>
				<li> si réfléchi fait référence au sujet de la phrase <br> <span class="exemple"> Pedro habla siempre de él , nunca de si ( Pedro parle toujours de lui ( un autre ) jamais de lui même </li>
			</ul>
		</div> 
	</div> 
 <ol> Contexte avec double pronom   COD et COI dans la même phrase  
 <li> le pronom du COI pour les troisiemes personnes devient "se" en place de "le/les" . ex : <span class="exemple"> tengo que decirselo  </span>  </li> 
 <li> format en fonction des conjuguaisons  :
 <ul>
 	<li> lorsque le verbe est conjugué : "COI + COD + verbe" . ex   <span class="exemple"> Astrid se lo regala a Brigitte .. </span>  </li> 
 	<li> lorsque le verbe est non conjugué ( infinitif / gerondif / imperatif)  : "verbe + COI + COD (pegado)". ex : <span class="exemple"> tengo que decirtelo  </span>  </li> 
	<li> ajoutez les accents toniques lorsque les pronoms viennent allonger le verbe : <span class ="exemple"> ¡Di! ( decir imp) mais ¡Dímelo! .  ¡Devuélvemelo!  </span> </li> 
	<li> les verbes pronominaux </li>
	<ul>  
	  <li> au tutoiement pluriel de l'impératif perdent le d  <span class ="exemple"> ¡marchaos! ( marcharse ) </span> sauf irse <span class ="exemple">  ¡idos! </span>  
	  <li> A la première personne du pluriel des verbes pronominaux, le 'S' final disparaît : <span class ="exemple"> Levantemos + NOS =>  levantémonos </span> </li> 
	 </ul> 
 </ul> 
 </ol> 
</div>



<div class="entete" onclick="ShowHide('zoneAafficher010b' )" > 
Verbes et prépositions 
</div> 
<div id='zoneAafficher010b' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
	<div class="contentblock"> 
		<div> 
<table> 
	<thead> 
		<tr> 
			<td> verbe </td> 
			<td> alguien </td> 
			<td> algo </td>
			<td> exemplo </td> 
		</tr>
	</thead> 
	<tbody> 
		<tr> 
			<td> despedirse </td> 
			<td> de </td> 
			<td> de  </td> 
			<td class="exemple" > Me he despedido del tenis  </td> 
		</tr>
		<tr> 
			<td> felicitar </td> 
			<td> a </td> 
			<td> por  </td> 
			<td class="exemple"> Los alumnos felicitan a la maestra por su aumento    </td> 
		</tr>
		<tr> 
			<td> protestar  </td> 
			<td> a </td> 
			<td> por  </td> 
			<td>   </td> 
		</tr>
		<tr> 
			<td> preguntar </td> 
			<td> por <br> a </td> 
			<td>  </td> 
			<td class="exemple"> Pilar pregunta por Pedro <br> Pilar ha preguntado ayudad a Pedro    </td> 
		</tr>
		<tr> 
			<td> dar las gracias </td> 
			<td> a </td> 
			<td> por  </td> 
			<td class="exemple"> Pilar da las gracias a Pedro por su ayudad   </td> 
		</tr>
		<tr> 
			<td> invitar  </td> 
			<td> a </td> 
			<td> a  </td> 
			<td class="exemple"> Pilar invita a Pedro a su boda   </td> 
		</tr>
		<tr> 
			<td> recomandar   </td> 
			<td> a </td> 
			<td>   </td> 
			<td>   </td> 
		</tr>
		<tr> 
			<td> comentar  </td> 
			<td> a </td> 
			<td>   </td> 
	
			<td>   </td> 
		</tr>
		<tr>
			<td> pedir  </td> 
			<td> a </td> 
			<td>   </td> 
			<td class="exemple"> Pedro ha pedido dinero a Pilar  </td> 
		</tr> 
		<tr>
			<td> proponer  </td> 
			<td> a </td> 
			<td>   </td> 
			<td class="exemple"> Pilar propone  dinero a Pedro  </td> 
		</tr>
		<tr>
			<td> recordar  </td> 
			<td> a </td> 
			<td>   </td> 
			<td class="exemple"> Pilar recordera su deuda a Pedro   </td> 
		</tr>
		<tr>
			<td> sugerir   </td> 
			<td> a </td> 
			<td>   </td> 
			<td class="exemple"> Este perfume sugirio un jardin a mis abuleos    </td> 
		</tr>
		<tr>
			<td> saludar   </td> 
			<td> a </td> 
			<td>   </td> 
			<td class="exemple"> Saludamos al rey    </td> 
		</tr>
</table> 
		</div> 
	</div> 
</div> 


<div class="entete" onclick="ShowHide('zoneAafficher012' )" > 
Imperatif   
</div> 
<div id='zoneAafficher012' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
L'impératif se deduit très exactement du <span style="font-weight:bold;color:red">  subjonctif présent </span> du verbe avec l'exception suivante : 
<ul> 
	<li> pour l'impératif affirmatif aux  2 ieme personnes ( tu / vosotros ) </li> 
			<ol> 
				<li> pour le pluriel ( <span style="font-weight:bold"> vosotros </span> )  : l'imperatif est construit à partir de <span style="font-weight:bold"> l'infinitif </span>  en remplacant le r final par un d  : vivir -> <span style="font-weight:bold;color:blue">vivid </span> , ser -> <span style="font-weight:bold;color:blue"> sed </span> .. Stop.
					<ul> 
						<li> => sauf pour les formes  <span style="font-weight:bold"> pronominales </span>  
							<ul> 
								<li> le <span style="font-weight:bold;color:red"> d </span>  disparait : ex  <span style="font-weight:bold;color:blue"> conciensciaos, despertaos </span> 
								<li> un accent s'invite la pluspart du temps 
							</ul> 

						
					</ul>

					<li> pour le singulier (<span style="font-weight:bold"> tu </span> ) : 
					<ol> 
						<li> on reprends le subjonctif présent / forme tu : ex cantar -> cantes ... 
						<li> ... on enleve le s final : cantes -> cante ... 
						<li> ... on remplace la derniere lettre ...  
							<ul> 
							<li> ... pour le premier groupe  : le e devient a : cante-> <span style="font-weight:bold;color:blue"> canta </span>   
							<li> ... pour les 2ieme et 3ieme groupe : le a devient e : beber-> bebas -> beba -> <span style="font-weight:bold;color:blue"> bebe </span> 
							<ul>
					</ol>
			</ol> 
</div> 
<div class="entete" onclick="ShowHide('zoneAafficher013' )" > 
-013- Conjugaisons irregulieres type 
</div> 
<div id='zoneAafficher013' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
	<span style="text-decoration:underline;color:blue">  Irrégularité  e -> ie/i  </span> 
		<ul> 
			<li class="exemple_vert"> au 1,2,3,6 e-> ie 
			<li style="color:red;font-weight:bold"> au 3,6 pret indef / 4,5 subj pres  e->i
		</ul> 
	<div class="contentblock" > 
		<div > 
			<table> 
				<thead> 
				<tr style="color:blue;font-weight:bold">
					<td> pronombre </td> 
					<td> presente </td> 
					<td> Pret ind </td> 
					<td> sub pres </td> 
				</tr> 
				</thead> 
				<tbody> 
				<tr>
					<td> yo </td> 
					<td class="exemple_vert"> ie</td> 
					<td> e </td> 
					<td class="exemple_vert"> ie </td> 
				</tr> 
				<tr>
					<td> tú </td> 
					<td class="exemple_vert"> ie</td> 
					<td> e </td> 
					<td class="exemple_vert"> ie </td> 
				</tr> 
				<tr>
					<td> él </td> 
					<td class="exemple_vert"> ie</td> 
					<td style="color:red;font-weight:bold">   i </td> 
					<td class="exemple_vert"> ie </td>
				</tr> 
				<tr>
					<td> nosostros </td> 
					<td> e</td> 
					<td> e </td> 
					<td style="color:red;font-weight:bold"> i </td> 
				</tr> 
				<tr>
					<td> vosotros </td> 
					<td> e</td> 
					<td> e </td> 
					<td style="color:red;font-weight:bold"> i </td> 
				</tr> 
				<tr>
					<td> ellos </td> 
					<td class="exemple_vert"> ie</td> 
					<td style="color:red;font-weight:bold"> i </td> 
					<td class="exemple_vert" > ie </td> 
				</tr> 






				<tr> 
				</tr>
				</tbody> 
			</table> 
		</div> 
		<div>
			<ol> 
				<li> advertir
				<li> convertir 
				<li> divertir 
				<li> consentir
				<li> digerir
				<li> herir
				<li> mentir
				<li> requerir
				<li> sentir
				<li> sugerir
				<li> preferir
				<li> presentir
				<li> ...
			</ol>
		</div>
	</div>

	<span> Modeles similaires
		<ul> 
			<li> <span class="exemple_vert">  o-> ue  </span>  /<span style="color:red">  u </span> 
				<ul>
					<li>  Morir ( el m<span class="exemple_vert">ue</span>re ) /  ( ellos m<span style="color:red">u</span>rieron )
					<li>  Dormir  ( el d<span class="exemple_vert">ue</span>rme ) /  (ellos d<span style="color:red">u</span>rmieron )
				</ul>
		</ul> 
</div> 

</div> 
<div class="entete" onclick="ShowHide('zoneAafficher014' )" > 
-014- Un peu de tout
</div> 

<div id='zoneAafficher014' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
<ol> 
<ol> 
     <li> Traduction de "et" 
	 <ol> 
		<li> "Et" se traduit par "y"  : <span class ="exemple"> Tengo platos y vasos </span> </li> 
	 	<li> ...sauf si le mot suivant commence par "hi.." ou "i.." alors ca devient "e"  <span class ="exemple"> su acción era cruel e injusta </span> </li>
	</ol>
     <li> Traduction de "un tel"
	 <ol> 
	 	<li> se traduit par "tal" devant un nom commun <span class ="exemple"> nunca he visto tal camerero  </span> </li> 
	 	<li> se traduit par "un tal" devant un nom propre <span class ="exemple"> ?  </span> </li> 
	 </ol>
	 <li> Adverdes en "...mente"
	 <ol> 
	 	<li> si plusieurs adverbes en -mente se suivent, seul le dernier porte le -mente.  <span class ="exemple"> el hablaba difícil y lentamente  </span> </li> 
	 	<li> ?   <span class ="exemple"> ?  </span> </li> 
	 </ol>
	<li> Este, éste, esté </li> 
	 	<ol>
	 		
	 		<li> Este : nom masculin : l'est :  <span class ="exemple"> el sol sale por el este   </span> </li>
	 		<li> este: cet ..adjectif demonstratif MS  ( plus proche que "ese" et que "aquel" ) :  <span class ="exemple"> Este disco   </span> <\li>
	 		<li> éste : celui ci  pronom <span class ="exemple"> éste es mas caro que losotros   </span> </li>
	 		<li> esté : verbe estar sub  <span class ="exemple"> no creo que el pan esté aqui  </span> </li>
	 		<li> esto : celui pronom pour le neutre sans accent ( idem eso, aquello ) 
	 	</ol>
	 <li> tan tanto  </li> 
	 	<ol>
	 		<li> tanto/a ne peut précéder qu'un nom :  <span class ="exemple"> ?  </span> <\li>
			 <li> tan ne peut précéder qu'un adjectif, un adverbe, un participe passé :  <span class ="exemple"> ?  </span> <\li>
	 		<li> tan .. que  : exprime une conséquence   <span class ="exemple">?   </span> </li>
	 		<li> tan devant un adjectif 
	 		
	 	</ol>
	  <li> mas más el mas </li> 
	 	<ol>
	 		<li> mas : plus de   <span class ="exemple"> ?   </span> <\li>
	 		<li> pas d'article devant un superlatif placé devant un nom   <span class ="exemple"> es el ordenador más complejo que conozco   </span> </li>
	 		<li> el mas 
	 		
	 	</ol>
</ol> 
</div> 
	
{% endblock %}

