{% extends 'verbos/layout.html' %}

{% block style %}

table, th,td,tr {
	border: 0.5px solid ; 
	border-color: grey ;
	padding : 5px ;
	margin : 5px ;
	} 
.entete { 
	width : 400px ; 
	margin:auto ; 
	padding : 10px ; 
	border: 2px solid #000 ;
	border-radius: 8px ;
	background-color : palegreen ; 
	text-align : center ; 
	}

.exemple { 
	color:blue;
	font-style:italic ;
	}
.exemple_vert { 
	color:green;
	font-style:italic ;
	}

{% endblock %} 

{% block jsscript %} 

<script>
function ToggleAll() { 
	normas=document.getElementsByName("norma") ; 
	normas.forEach( function ( currentValue , currentIndex , listObj ) { 
			   ShowHide(currentValue.id) ; 
			},
	'myThisArg'
		);
	}
function ShowHide(id) { 
	var e = document.getElementById(id) ; 
	if (e.style.display =='block') 
		e.style.display='none'
	else 
		e.style.display='block'
}

document.addEventListener('DOMContentLoaded', (event) => {
		console.log('DOM fully loaded and parsed');
		normas=document.getElementsByName("norma") ; 
		normas.forEach( function ( currentValue , currentIndex , listObj ) { 
			   console.log(currentValue.id + ', ' + currentIndex + ', ' + this);
  },
  'myThisArg'
);
			
});

</script> 
{% endblock %}

{% block body1 %} 

<h1> Gramatica </h1> 
<br> 

<button onclick="ToggleAll()" > mostrar todas normas / esconderlas </button> 


<div  class="entete"  onclick="ShowHide('zoneAafficher000')" > 
<span style="margin-left:3%;" name="normatitulo"> 
 SER y ESTAR   </span> 
</div>
<div id='zoneAafficher000' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
<table>
    <thead>
        <tr>
            <th colspan="2">SER Y ESTAR</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>SER</td>
            <td>ESTAR </td>
        </tr>
		  <tr>
			  <td>Descripción física <span class="exemple"> ( ser joven , ser niño ) </span> </td>
            <td>Localización </td>
        </tr>
		<tr>
            <td> Identidad ( genero .. ) </td>
            <td> Estados ( muertos / cansados / tristes .. )  </td>
        </tr>
			<tr>
            <td> Nacionalidad </td>
            <td> Estar prohibido / permitido  </td>
        </tr>
			<tr>
            <td> Profesión </td>
            <td> Estar + gerundio ( estoy comiendo)  </td>
        </tr>
			<tr>
            <td> Religión </td>
            <td> Estar soltero casado </td>
        </tr>
			<tr>
            <td> Definición </td>
            <td>  </td>
        </tr>
			<tr>
            <td> Ser bueno / malo </td>
            <td> Estar bien / mal</td>
        </tr>
			<tr>
		<td> Ser + las horas  <span class="exemple">  Son las once, es miércoles </span>  </td>
            <td> Estar malo etre malade  </td>
        </tr>
		<tr>
			<td> Acontecimiento : indicar lugar fecha hora <br> <span class="exemple"> Donde es la cena ? cuando es la fiesta ?  </span>   </td>
			<td> Acontecimiento : indicar la situación física o temporal <br> <span class="exemple"> Donde estabas esta noche ? Ya estamos a viernes </span>  </td>
        </tr>
		<tr>
            <td> Ser verdad / falso </td>
            <td>  </td>
        </tr>
		<tr>
            <td> Ser rico / pobre </td>
            <td>  </td>
        </tr>		
    </tbody>
</table>   
</div> 


<div class="entete"  onclick="ShowHide('zoneAafficher001')" > 
<span style="margin-left:3%;" name="normatitulo"> 
 Comparativos    </span> 
</div>
<div id='zoneAafficher001' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
	<div class="contentblock"> 
		<div> 
<table>
   
    <tbody>
        <tr>
            <td> </td> 
			<td>adjectif</td>
            <td>nom </td>
			  <td>verbe  </td>
        </tr>
		  <tr>
            <td> Supériorité </td>
            <td> Más (grande )  que  </td>
			<td> Más (parque) que.. </td> 
			<td> (Salir) Más  que </td> 
        </tr>
		<tr>
            <td> Infériorité </td>
            <td> Menos ( luminosa ) que </td>
			<td> Menos ( parque ) que </td> 
			<td> Salir menos.. que   </td> 
		</tr> 
       	<tr>
            <td> Igualidad </td>
            <td> Tan caro como  </td>
			<td> Tanta luz como <br> Tanto espacio como  </td> 
			<td> Salir tanto como  </td> 
        </tr>
		
    </tbody>
</table>   
	</div> 
	<div> 
		exemplos 
		<ol> 
		<li> 
		<li> 
		</ol> 
	</div>
	</div> 
</div> 

<div class="entete" onclick="ShowHide('zoneAafficher002')" > 
<span style="margin-left:3%;" name="normatitulo"> 
 GERUNDIO    </span> 
</div>
<div id='zoneAafficher002' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
<ol> 
<li> Verbe en ar => ando   : cantando </li>
<li> Verbe en er => iendo : comiendo </li>
<li> Verbe en ir => iendo : viviendo </li>
<li> Introduit avec ESTAR LLEVAR SEGUIR </li>
</ol> 

</div> 
<div class="entete"  onclick="ShowHide('zoneAafficher3' )" > 
Oxyton paroxiton / accent tonique 
</div> 
<div id='zoneAafficher3' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
	<table>
  
    <tbody>
        <tr>
            <td> écrit -> lire </td>
            <td>Pour les mots qui se terminent en <span style="font-weight:bold;color:blue">voyelle, n ou s </span> </td>
			<td>Pour les autres</td>
        </tr>
		<tr>
            <td>Si pas d’accent <br>  dans le mot </td>
            <td>C’est l’avant dernière syllabe qui est tonique 
			<br> Ma<span style="font-weight:bold;color:red">ce</span>ta, 
			<br> per<span style="font-weight:bold;color:red">ua</span>no, 
			</td>
		
			<td>C’est la dernière syllabe qui est accentuée 
			<br> Digni<span style="font-weight:bold;color:red">dad </span> 
			<br> inici<span style="font-weight:bold;color:red">al </span> 
			</td>
        </tr>
		<tr>
            <td>Si un accent</td>
            <td colspan="2" style="text-align:center" >Accent tonique là où est l’accent 
			<br> So<span style="font-weight:bold;color:red">fá </span> 
			<br> Bon<span style="font-weight:bold;color:red">bón </span> 
			<br> esco<span style="font-weight:bold;color:red">cés </span> 
			</td>
			
        </tr>
    </tbody>
</table>
Autre facon d'expliquer plus académique  
<table>
  
    <tbody>
        <tr>
            <td> entendre -> ecrire  ? </td>
            <td>Lleva tilde  </td>
			<td>No lleva tilde</td>
        </tr>
		<tr>
            <td>Agudas (oxyton <br> sobre ultima )  </td>
            <td>Si se terminan con <span style="font-weight:bold;color:blue"> « n » « s » o una vocal  </span> 
			<br> So<span style="font-weight:bold;color:red">fá </span> 
			<br> Bon<span style="font-weight:bold;color:red">bón </span> 
			<br> esco<span style="font-weight:bold;color:red">cés </span> 
			</td>
			<td>Otras palabras 
			<br> Digni<span style="font-weight:bold;color:red">dad </span> 
			<br> inici<span style="font-weight:bold;color:red">al </span> 
			</td>
        </tr>
		<tr>
            <td>Llanas ( paroxyton) <br> Sobre penultima 
			</td>
            <td> <span style="font-weight:bold;color:red">Cés</span>ped  
			</td>
			<td>Si se terminan con <span style="font-weight:bold;color:blue">« n » « s » o una vocal  </span> 
			<br> Ma<span style="font-weight:bold;color:red">ce</span>ta, 
			<br> per<span style="font-weight:bold;color:red">ua</span>no, 
			</td>
		</tr>
		<tr>
            <td>Esdrujulas (sobre <br> antepenultima ) <br> y sobreesdrujulas 
			</td>
            <td colspan="2" style="text-align:center" >Siempre llevan tilde sobre la sílaba
			<br> 
			Elec<span style="font-weight:bold;color:red" >tró</span>nica <br> 
			A<span style="font-weight:bold;color:red" >prén</span>detelo
			</td>
		</tr>
    </tbody>
</table>
<br> 
	tableau memo 
	<table> 
		<tbody> 
			<tr> 
				<td> sílaba </td> 
				<td> n - s - vocal </td> 
				<td> otras pal </td> 
			</tr> 
			<tr> 
				<td> acc ultima síl </td>
				<td> poner tilde </td> 
				<td> 	</td> 
			</tr> 
			<tr>
				<td> acc ant ult síl </td> 
				<td> </td> 
				<td> poner tilde </td> 
			</tr>
		</tbody> 
	</table> 
<br> 
Attention aux mots se terminant par és  , íon qui , au pluriel , prennent une syllabe de plus <span class="exemple">  ( franceses , correcciones ) </span>  et perdent alors leur tilde
<br> 
"Tilde diacritica"
<br> 
<table> 
	<body> 
		<tr> 
			<td> lleva tilde</td> 
			<td> no lleva tilde</td> 
		</tr>
		<tr> 
			<td>más : plus de </td> 
			<td>mas : pero ( litt)</td> 
		</tr>
		<tr> 
			<td> mí : à moi </td> 
			<td> mi : mon ma ( mi casa )</td> 
		</tr>
		<tr> 
			<td> té : la bebida </td> 
			<td> te : pronombre</td> 
		</tr>
		<tr> 
			<td> tú : pronombre ( yo tú.. ) </td> 
			<td> tu : poss : tu casa</td> 
		</tr>
		<tr> 
			<td> él : pronombre</td> 
			<td> el : articulo</td> 
		</tr>
		<tr> 
			<td> sé : saber</td> 
			<td> se : pronom</td> 
		</tr>
		<tr> 
			<td> dé  : dar</td> 
			<td> de : prep </td> 
		</tr>
		<tr> 
			<td> quién : interrogatif ? </td> 
			<td> quien : subor : el que</td> 
		</tr>
		<tr> 
			<td> qué : interrogatif</td> 
			<td> que : subordonnée</td> 
		</tr>
		<tr> 
			<td> sí : oui ! </td> 
			<td> si : conditional</td> 
		</tr>
		<tr> 
			<td> cómo : comment ?  </td> 
			<td> como : comme </td> 
		</tr>
		<tr> 
			<td> áun : pas encore / todavia  </td> 
			<td> aun : aunque - bien que </td> 
		</tr>

	</body>
</table>
</div>

<div class="entete" onclick="ShowHide('zoneAafficher110')" > 
<span style="margin-left:3%;" name="normatitulo"> 
 Accord temps conditionnel  Si + sss  </span> 
</div>
<div id='zoneAafficher110' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
 Les choix du temps sont fonction de la probabilité  : 
 <ol> 
 <li> la condition est réalisable : [ Si + present ind ] [ ind pres ou futur ] 
	 <br> <span class="exemple">  Compraré pan si la panaderia esta abierta </span>  </li> 
 <li> la condition n'est pas realisable [ Si + imparfait du Subj ] [ ind conditionnel ]   
	 <br> <span class="exemple"> Si ganara al loto , viviría en un castillo </span> </li>  
 </ol>  

</div> 

<div class="entete" onclick="ShowHide('zoneAafficher1')" > 
<span style="margin-left:3%;" name="normatitulo"> 
	Concordance des temps : subordonnée au subjontif  </span> 
</div>
<div id='zoneAafficher1' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
	Il s'agit de trouver comment appliquer la concordance des temps entre la principale et la subordonnée. <br> 
	Les règles à appliquer vont dépendre du sens de la phrase. Il faut donc identifer  
 <ol> 
 <li> la nature de la phrase principale + subordonnée  </li> 
 <li> pour aller chercher la règle adaptée   </li> 
 </ol>    
 
 <table> 
	 <thead> 
		 <td> Cas </td> 
		 <td> Principale  </td> 
		 <td> sub introduite par </td> 
		 <td> Subordonnée </td>
		 <td> exemple </td> 
	 </thead> 
	 <tr > 
		 <td rowspan="2"> Subordonnée temporelle <br> dans le sens d'une <br> condition temporelle </td> 
		 <td> au futur ou à <br>  l'imperatif </td> 
		 <td  > a medida que <br> antes de que <br> Apenas..cuando <br> cada vez <br> siempre que <br>  cuando <br> desde que <br> conforme que <br>  luego que <br> hasta que <br> en cuanto <br>  tan pronto que <br> mientras <br> siempre que <br> conforme <br> una vez que  <br> </td>
		 <td> subj présent </td>
		 <td class="exemple" > Te hablaré cuando tenga tiempo.  <br> Comeremos luego que lleguemos <br> Limpiaremos hasta que el suelo esté limpio <br> Te pagaré en cuanto termines tu trabajo <br> Llama me tan pronto que ella llegue  </td> 
	</tr> 
	<tr> 
		<td>  </td> 
		<td> antes de que </td> 
		<td> subj </td>
		<td class = "exemple" > Como antes de que la comida esté fria.  </td> 
	</tr>
	 <tr> 
		<td> Fait pas encore réalisé <br> Action de la princ <br> antérieure <br> à l'action de la sub  </td> 
		<td> indicatif </td> 
		<td> </td>
		<td> subj </td>
		<td class="exemple"> Puedes pedir me lo que quieras. <br> Viviremos donde encontremos empleos. <br> El ultimo que salga cerrará la puerta <br> Me habían informado antes de que Pedro me lo anunciara </td> 
	</tr> 
	  <tr> 
		 <td rowspan="2"> Interrogation indirecte </td>
		 <td> indicatif présent  </td>
		 <td rowspan="2">  <span style="font-weight:bold;color:red"> cuándo <br> cuánto <br> cómo .. </td>
		 <td> indicatif (futur ?)</td>
		 <td class="exemple"> No sabemons cuándo vendra.</td>
	 </tr>
	   <tr> 
		 
		 <td> indicatif passé  </td>
		
		 <td> conditionnel (?)</td>
		 <td class="exemple"> Le preguntaron cuánto pagaría.</td>
	 </tr>
	 <tr> 
		 <td> Principale au conditionnel </td>
		 <td> conditionnel </td>
		 <td>  <span style="font-weight:bold;color:red"> que </td>
		 <td> subjontif imparfait</td>
		 <td class="exemple"> Me gustaría que fregarais los platos vosotros y me quedaría sin hacer nada.</td>
	 </tr>
	<tr> 
		<td> Condition irréalisable  </td>
		<td> conditionnel </td>
		<td rowspan="2"> <span style="font-weight:bold;color:red"> si  </td>
		<td> subj imp </td>
		<td class = "exemple" > no cambiaría nada  si pudiera empezar todo de nuevo </td>
	</tr>
	 <tr> 
		<td> Condition réalisable  </td>
		<td> ind futur  </td>
		<td> ind présent  </td>
		<td class = "exemple" >  Compraré pan si la panaderia está abierta </td>
	</tr>
	
	<tr> 
		<td> Fait inconnu ou <br>  avec une condition </td> 
		<td>  </td> 
		<td> Como (comme) <br> Como (si) </td> 
		<td> subj </td>
		<td class ="exemple" > Podrás vestirte como quieras. <br> No iré como vengas </td> 
	</tr>
	<tr> 
		<td> Subordonnée concessive </td> 
		<td>  </td> 
		<td>Aunque ( même si) </td> 
		<td> subj  </td>
		<td class= "exemple"> El pregunta aunque sepa todo lo que pasó </td> 
	</tr>
	<tr> 
		<td> Opinion à la forme négative </td> 
		<td> no creer <br> no pensar <br> no parecerle </td>
		<td> que </td>
		<td> subj </td>
		<td class="exemple"> No creo que venga.  <br> No pienso que tengas razon. <br> No me pareció que estuviéramos tarde </td>
	</tr> 
	<tr> 
		<td> Opinion et sentiments </td> 
		<td> encantar <br> molestar  <br> gustar <br> apasionar <br> importar <br> fascinar <br> entusiamar <br> horrizar <br> irritar <br> sentir bien/mal  <br> poner nervioso/tite <br> hacer illusion/gracia <br> dar miedo /pereza   </td>
		<td>  </td> 
		<td> subj </td>
		<td class="exemple"> Me encanta que me regalen flores <br> Me molesta que hagas ruido <br> Me gusta que vengas <br> Odio que no me mire <br> Me importa que durmamos con la ventana abierta <br> Me fascina que los ninos no jueguen  </td>
	</tr> 
	<tr> 
		<td> Demande  </td>  
		<td> decir <br> escribir <br> pedir <br> rogar <br> supliquar <br> querer <br> ordenar <br> encargar <br> mandar <br>  </td>
		<td> que <br>   </td> 
		<td> subj </td>
		<td class="exemple"> Nos decimos que hagamos menos ruido.  <br> Me pide que le mandemos dinero. <br> Me pidío que le mandáramos dinero  </td>
	</tr> 
	<tr> 
		<td> Souhait<br> le but  </td>  
		<td> desear <br> querer <br> tener ganas </td>
		<td>  </td> 
		<td> subj </td>
		<td class="exemple"> Deseo que lleguemos antes de la noche.  <br> Quiero que me prestes tu coche. <br> tengo ganas que comamos antes de salir <br> Buscabamos un coche que consumiera menos gasolina   </td>
	</tr> 
	 	<tr> 
		<td> crainte  </td>  
		<td> temer <br> tener miedo de <br> tener ganas </td>
		<td> que </td> 
		<td> subj </td>
		<td class="exemple"> Tengo miedo que no encuentren trabajo.    </td>
	</tr> 
	<tr> 
		<td> Conseil <br>  but <br>  obligation </td>  
		<td> recomandar <br> aconsejar <br> mandar <br> ordenar  <br> prohibir <br> impedir  </td>
		<td> que <br> para que <br> a fin que <br> con objecto de que <br> de modo que <br> hasta que  </td> 
		<td> subj  </td>
		<td class="exemple"> Te aconsejo que veas esta pelicula.  <br> La maestra nos manda que no hagamos ruido. <br> Es necessario que vengas <br> Necessitamos que construyan nuevas industrias en la zona.  </td>
	</tr> 
	<tr>
		<td rowspan="7" > mots clé <br> expression </td>
		<td> cause </td>
		<td> por miedo a que <br> por temor de que <br> en caso de que  </td>
		<td> subj pre/imp  </td>
		<td class ="exemple">  </td>
	</tr>
	  <tr>
		
		<td> restriction  </td>
		<td> a no ser que <br> a menos que <br> con que <br> con tal que <br>  siempre que <br>  siempre y cuando <br> a condición de que <br> por poco que </td>
		<td> subj pre/imp  </td>
		<td class ="exemple">  </td>
	</tr>

	<tr>
		
		<td rowspan="3"> souhait </td>
		<td rowspan="3"> Ojala  </td>
		<td> subj présent : pourvu que... <br> (souhait réalisable) </td>
		<td class ="exemple"> Ojalá que la panaderia esté abierta </td>
	</tr>
	 	<tr>
		
		
		<td> subj imp : pouvu que... <br> (souhait réalisable) </td>
		<td class ="exemple"> Ojalá que llegara antes de las 8  </td>
	</tr>
	
	<tr>
		
		
		<td> subj plus que parfait : si seulement.. <br> (souhait irréalisable) </td>
		<td class ="exemple"> Ojalá nos hubieses acompañado a Paris    </td>
	</tr>	
	<tr> 
		
		<td rowspan="2"> ??  </td>
		<td> quizas </td>
		<td> subj </td>
		<td class ="exemple"> Fernando,quizás no conozca mi dirección. <br> </td>
	</tr> 
	<tr>
		
		<td> como si  </td>
		<td> subj imp </td>
		<td class ="exemple"> Me grita como si no lo oyera  </td>
	</tr>
 </table> 
<div class="entete" onclick="ShowHide('zoneAafficher4' )" > Concordance des temps : Subordonnée  
</div> 
<div id='zoneAafficher4' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
<ul>
	<li> expliquer ici la concordance des temps </li> 
		<ol> 
		<li> si la principal est au présent / futur  / preterito perfecto ) => subordonnée au subj présent </li>
		<li> si la principale est au pret indefinido , conditionnel , preterito perfecto => sub à l'imparfait ou plus que parfait 	</li> 
		</ol>
</ul>
	
 
</div>

</div> 

<div class="entete" onclick="ShowHide('zoneAafficher1b')" > 
<span style="margin-left:3%;" name="normatitulo"> 
 Concordance des temps : style indirect
</div>
<div id='zoneAafficher1b' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
 
<span> Le contexte est celui de rapporter une action, une question, une demande  en utilisant 
	<ul> 
		<li> une phrase principale utilisant un des verbes introduisant le style indirect
		<li> une subordonnée spécifiant l'action, la question , la demande .. 
	</ul> 
	<span> il faut bien distinguer la concordance des temps dans le contexte du <span class="exemple"> style indirect </span> versus les autres contextes qui , en général , introduise le subjonctif dans la subordonnée.
	<div class="contentblock"> 
	<div>
	<table>
  <tr>
    <th>Principale </th>
    <th>Subordonnée </th>
  </tr>
  <tr> 
	  <td> Presente  <br> <span class="exemple">  Pedro pregunta..  </td> 
	  <td> Presente  <br> <span class="exemple"> ..que Maria viene con ellos  </td>
</tr> 
  <tr>
	  <td rowspan="2">Preterito perfecto <br> <span class="exemple" > Pedro ha dicho.. </th>
		  <td>Presente <br> <span class="exemple"> ..que Maria esta enfermada</td>
  </tr>
  <tr>
	  <td>Imperfecto <br> <span class="exemple"> ..que Maria estaba enfermada </td>
  </tr>
  <tr> 
	  <td> Preterito Indefinido  <br> <span class="exemple"> Los ninos pidieron..   </td> 
	  <td> Imperfecto   <br> <span class="exemple"> ..que tu jugabas  con ellos  </td>
</tr> 
  <tr> 
	  <td> Imperatif   <br> <span class="exemple">  Cuenta me..   </td> 
	  <td> Subjonctif   <br> <span class="exemple"> ..lo que  Maria te diga!  </td>
</tr> 
</table>
</div> 
<div> 
	Les subordonnées sont introduites par 
	<ul> 
		<li> decir
		<li> contar 
		<li> preguntar 
		<li> pedir 
		<li> recomandar ( + subj : voir § )
	</ul> 
	</div> 
	</div> 
</div> 






<div class="entete" onclick="ShowHide('zoneAafficher005' )" > 
Ningún o ninguno ? apocope  
</div> 
<div id='zoneAafficher005' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
 <ol> 
	<li> Ninguno si pas de nom après </li> 
	<li> ningún si il y a un nom masculin  / mais ninguna si feminin </li>
	<li> ex  <span class ="exemple">  ningún pico   mais no hay ninguno , hay ninguna tienda , no hay ninguna  </span> </li>
 </ol> 
	Applicable avec 
<ul> 
	<li> un / uno <span class="exemple"> Tiene un vaso ? tengo uno </span> </li>
	<li> algún / alguno </li>
	<li> Bueno malo primero tercero postero perdent le o devant un nom masculin signulier <span class ="exemple"> Vivo en el tercer piso </span> </li>
	<li> CUALQUIERA perd le 'a' final devant un nom masculin ou féminin singulier et devant l'indéfini 'otro', 'otra'.<span class ="exemple"> Cualquier sitio es bueno para leer un libro. </span> </li>
	<li> CIENTO perd la syllabe finale '–to' devant un nom masculin ou féminin et devant un nombre qu'il multiplie. <span class="exemple"> Cien personas, dos cientos y uno libros </span>  </li>	
	<li> SANTO perd la syllabe finale '–to' devant le nom propre d'un saint, sauf si celui-ci commence par 'To-' ou 'Do-'.<span class="exemple"> Santo Domingo , San Juan </span> </li>
	<li> TANTO et CUANTO perdent la syllabe finale '–to' devant un adjectif ou un adverbe. 
		<br> Exception : Tanto et cuanto ne perdent pas la syllabe finale devant les adverbes mejor, peor, más et menos.
		<br> <span class="exemple"> Se ha marchado tan temprano. Tanto mejor </span> </li> 
 </ul> 
</div>


<div class="entete" onclick="ShowHide('zoneAafficher007' )" > 
Duracion    
</div> 
<div id='zoneAafficher007' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
 <ol> 
	 <li> Hace + cantidad de tiempo + que + verbo <span class="exemple">  hace mas que tres anos que vivo en espana </li> 
	 <li> Desde hace + cantidad de tiempo <span class="exemple">  no veo Carlos desde hace un ano </li> 
	 <li> Desde + fecha <span class="exemple">  no veo Carlos desde enero </li>
	 <li> Desde que + verbo <span class="exemple">    esta en grenada desde que empezo el curso </li>
 </ol> 
</div>

<div class="entete" onclick="ShowHide('zoneAafficher008' )" > 
Preterito Perfecto ( passé composé )       <br> haber + participio    ( ido / ado ) 
</div> 
<div id='zoneAafficher008' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
Les termes suivant introduisent un preterito perfecto 
 <ol> 
<li>  Les termes suivant introduisent un preterito perfecto <span style="font-weight:bold"> Este xxx ( este año .. ) hoy, ya , todavia no,  ultimamente, por fin ( il était temps ), nunca , alguna vez , varias veces , hoy, este año , este mes , este fin de semana </span> </li> 
<li> On ne précise pas le moment exact dans le passé </li> 
<li> L’évènement du passé dont on parle a un lien avec le présent , cad qu’il produit un effet maintenant encore ou il est situé dans une même unité de temps ( hoy , este mes . ) 
<span style="font-weight:bold">  Este fin de semana , he comido demasiado ( misma semana ) </span> </li> 
 </ol> 
</div>


<div class="entete" onclick="ShowHide('zoneAafficher009' )" > 
Preterito indefinido  ( passé simple  )  <br>  ( é / aste / ó , amos, áis, aron .. ) 
</div> 
<div id='zoneAafficher009' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
Les termes suivant introduisent un preterito perfecto 
 <ol> 
 <li> On précise le moment du passé ( < style="font-weight:bold"> ayer, el año pasado , el otro dia, la semana pasada .. </span> ) </li> 
 <li> Cette action n’a plus de lien avec le présent ou ne fait pas partie de la même unité de temps : <span style="font-weight:bold"> el otro dia fui a la catedral   (otro dia que hoy ) </span>  </li> 
 </ol> 
</div>




<div class="entete" onclick="ShowHide('zoneAafficher010' )" > 
Pronoms pour COD / COI  
</div> 
<div id='zoneAafficher010' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
Rappel 
<ul> 
<li> le COD repond à la question  " qué ?" Astrid come un melon "  / que come Astrid ? un melon  = COD 
<li> le COI repond à la question "a quien ?"  Astrid regala un tiburon a Brigitte . A quien Astrid regala un tiburon ? A Brigitte = COI 
</ul> 
	<div class="contentblock"> 
		<div> 
<table> 
	<thead> 
		<tr> 
			<td> Pronumbre </td> 
			<td> COD </td> 
			<td> COI </td> 
		</tr>
	</thead> 
	<tbody> 
		<tr> 
			<td> yo </td> 
			<td> me </td> 
			<td> me  </td> 
		</tr>
		<tr> 
			<td> tu </td> 
			<td> te </td> 
			<td> te  </td> 
		</tr>
		<tr> 
			<td> el / ella </td> 
			<td> lo / la  </td> 
			<td> le  </td> 
		</tr>
		<tr> 
			<td> nosotros </td> 
			<td> nos </td> 
			<td> nos  </td> 
		</tr>
		<tr> 
			<td> vosotros </td> 
			<td> os </td> 
			<td> os  </td> 
		</tr>
		<tr> 
			<td> ellos / ellas </td> 
			<td> los las  </td> 
			<td> les </td> 
		</tr>
	</tbody> 
	</table> 

		</div> 
		<div > exemplos 
			<ul> 
				<li class="exemple"> Astrid lo regala ( el tiburon COD ) 
				<li class="exemple"> Astrid me regala un tiburon  ( COI ) 
				<li class="exemple"> Astrid le regala un tiburon a Brigitte ( on  repéte toujours le COI ...)
				<li> 
				<li class="exemple"> Astrid se lo regala a Brigitte 
			</ul> 
		</div> 
	</div> 
 <ol> Contexte avec double pronom   COD et COI dans la même phrase  
 <li> le pronom du COI pour les troisiemes personnes devient "se" en place de "le/les" . ex : <span class="exemple"> tengo que decirselo  </span>  </li> 
 <li> format en fonction des conjuguaisons  :
 <ul>
 	<li> lorsque le verbe est conjugué : "COI + COD + verbe" . ex   <span class="exemple"> Astrid se lo regala a Brigitte .. </span>  </li> 
 	<li> lorsque le verbe est non conjugué ( infinitif / gerondif / imperatif)  : "verbe + COI + COD (pegado)". ex : <span class="exemple"> tengo que decirtelo  </span>  </li> 
</ul> 
 </ol> 
</div>



<div class="entete" onclick="ShowHide('zoneAafficher010b' )" > 
Verbes et prépositions 
</div> 
<div id='zoneAafficher010b' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
	<div class="contentblock"> 
		<div> 
<table> 
	<thead> 
		<tr> 
			<td> verbe </td> 
			<td> alguien </td> 
			<td> algo </td>
			<td> exemplo </td> 
		</tr>
	</thead> 
	<tbody> 
		<tr> 
			<td> despedirse </td> 
			<td> de </td> 
			<td> de  </td> 
			<td class="exemple" > Me he despedido del tenis  </td> 
		</tr>
		<tr> 
			<td> felicitar </td> 
			<td> a </td> 
			<td> por  </td> 
			<td class="exemple"> Los alumnos felicitan a la maestra por su aumento    </td> 
		</tr>
		<tr> 
			<td> protestar  </td> 
			<td> a </td> 
			<td> por  </td> 
			<td>   </td> 
		</tr>
		<tr> 
			<td> preguntar </td> 
			<td> por <br> a </td> 
			<td>  </td> 
			<td class="exemple"> Pilar pregunta por Pedro <br> Pilar ha preguntado ayudad a Pedro    </td> 
		</tr>
		<tr> 
			<td> dar las gracias </td> 
			<td> a </td> 
			<td> por  </td> 
			<td class="exemple"> Pilar da las gracias a Pedro por su ayudad   </td> 
		</tr>
		<tr> 
			<td> invitar  </td> 
			<td> a </td> 
			<td> a  </td> 
			<td class="exemple"> Pilar invita a Pedro a su boda   </td> 
		</tr>
		<tr> 
			<td> recomandar   </td> 
			<td> a </td> 
			<td>   </td> 
			<td>   </td> 
		</tr>
		<tr> 
			<td> comentar  </td> 
			<td> a </td> 
			<td>   </td> 
	
			<td>   </td> 
		</tr>
		<tr>
			<td> pedir  </td> 
			<td> a </td> 
			<td>   </td> 
			<td class="exemple"> Pedro ha pedido dinero a Pilar  </td> 
		</tr> 
		<tr>
			<td> proponer  </td> 
			<td> a </td> 
			<td>   </td> 
			<td class="exemple"> Pilar propone  dinero a Pedro  </td> 
		</tr>
		<tr>
			<td> recordar  </td> 
			<td> a </td> 
			<td>   </td> 
			<td class="exemple"> Pilar recordera su deuda a Pedro   </td> 
		</tr>
		<tr>
			<td> sugerir   </td> 
			<td> a </td> 
			<td>   </td> 
			<td class="exemple"> Este perfume sugirio un jardin a mis abuleos    </td> 
		</tr>
		<tr>
			<td> saludar   </td> 
			<td> a </td> 
			<td>   </td> 
			<td class="exemple"> Saludamos al rey    </td> 
		</tr>
</table> 
		</div> 
	</div> 
</div> 


<div class="entete" onclick="ShowHide('zoneAafficher012' )" > 
Imperatif   
</div> 
<div id='zoneAafficher012' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
L'impératif se deduit très exactement du <span style="font-weight:bold;color:red">  subjonctif présent </span> du verbe avec l'exception suivante : 
<ul> 
	<li> pour l'impératif affirmatif aux  2 ieme personnes ( tu / vosotros ) </li> 
			<ol> 
				<li> pour le pluriel ( <span style="font-weight:bold"> vosotros </span> )  : l'imperatif est construit à partir de <span style="font-weight:bold"> l'infinitif </span>  en remplacant le r final par un d  : vivir -> <span style="font-weight:bold;color:blue">vivid </span> , ser -> <span style="font-weight:bold;color:blue"> sed </span> .. Stop.
					<ul> 
						<li> => sauf pour les formes  <span style="font-weight:bold"> pronominales </span>  
							<ul> 
								<li> le <span style="font-weight:bold;color:red"> d </span>  disparait : ex  <span style="font-weight:bold;color:blue"> conciensciaos, despertaos </span> 
								<li> un accent s'invite la pluspart du temps 
							</ul> 

						
					</ul>

					<li> pour le singulier (<span style="font-weight:bold"> tu </span> ) : 
					<ol> 
						<li> on reprends le subjonctif présent / forme tu : ex cantar -> cantes ... 
						<li> ... on enleve le s final : cantes -> cante ... 
						<li> ... on remplace la derniere lettre ...  
							<ul> 
							<li> ... pour le premier groupe  : le e devient a : cante-> <span style="font-weight:bold;color:blue"> canta </span>   
							<li> ... pour les 2ieme et 3ieme groupe : le a devient e : beber-> bebas -> beba -> <span style="font-weight:bold;color:blue"> bebe </span> 
							<ul>
					</ol>
			</ol> 
</div> 
<div class="entete" onclick="ShowHide('zoneAafficher013' )" > 
Conjugaisons irregulieres type 
</div> 
<div id='zoneAafficher013' style="text-align: justify; margin-left: 40px;display:none" name="norma" >
	<span style="text-decoration:underline;color:blue">  Irrégularité  e -> ie/i  </span> 
		<ul> 
			<li class="exemple_vert"> au 1,2,3,6 e-> ie 
			<li style="color:red;font-weight:bold"> au 3,6 pret indef / 4,5 subj pres  e->i
		</ul> 
	<div class="contentblock" > 
		<div > 
			<table> 
				<thead> 
				<tr style="color:blue;font-weight:bold">
					<td> pronombre </td> 
					<td> presente </td> 
					<td> Pret ind </td> 
					<td> sub pres </td> 
				</tr> 
				</thead> 
				<tbody> 
				<tr>
					<td> yo </td> 
					<td class="exemple_vert"> ie</td> 
					<td> e </td> 
					<td class="exemple_vert"> ie </td> 
				</tr> 
				<tr>
					<td> tu </td> 
					<td class="exemple_vert"> ie</td> 
					<td> e </td> 
					<td class="exemple_vert"> ie </td> 
				</tr> 
				<tr>
					<td> el </td> 
					<td class="exemple_vert"> ie</td> 
					<td style="color:red;font-weight:bold">   i </td> 
					<td class="exemple_vert"> ie </td>
				</tr> 
				<tr>
					<td> nosostros </td> 
					<td> e</td> 
					<td> e </td> 
					<td style="color:red;font-weight:bold"> i </td> 
				</tr> 
				<tr>
					<td> vosotros </td> 
					<td> e</td> 
					<td> e </td> 
					<td style="color:red;font-weight:bold"> i </td> 
				</tr> 
				<tr>
					<td> ellos </td> 
					<td class="exemple_vert"> ie</td> 
					<td style="color:red;font-weight:bold"> i </td> 
					<td class="exemple_vert" > ie </td> 
				</tr> 






				<tr> 
				</tr>
				</tbody> 
			</table> 
		</div> 
		<div>
			<ol> 
				<li> advertir
				<li> convertir 
				<li> divertir 
				<li> consentir
				<li> digerir
				<li> herir
				<li> mentir
				<li> requerir
				<li> sentir
				<li> sugerir
				<li> preferir
				<li> presentir
				<li> ...
			</ol>
		</div>
	</div>

	<span> Modeles similaires
		<ul> 
			<li> <span class="exemple_vert">  o-> ue  </span>  /<span style="color:red">  u </span> 
				<ul>
					<li>  Morir ( el m<span class="exemple_vert">ue</span>re ) /  ( ellos m<span style="color:red">u</span>rieron )
					<li>  Dormir  ( el d<span class="exemple_vert">ue</span>rme ) /  (ellos d<span style="color:red">u</span>rmieron )
				</ul>
		</ul> 
</div> 
	
	
{% endblock %}

