{% extends 'verbos/layout.html' %}
{% block body1 %} 

<h1> Bienvenidos! </h1> 
<br> 
<div id = container > 
	<div> <span> Este sitio ha ido construido para ayudar aprendrer vocabularios y conjagaciones en español , los que aprendimos (mas o menos )durante los cursos de español para majores en 2020/2021 ,cada mercioles, en la escuela Ferdinand Flocon en Paris. No esta perfecto y totalmente corrigido, lo siento por los errores. 
</span>
	<br> 
	<Span> Muchas gracias a nuestra professora , A.A , por sus multiples cualidades, aprendimos mucho sobre varias temas ... 
	</span>
	</div> 
	<div> La parte "Verbos" trata de las conjugaciones de los verbos y "Verbos exo" es un exercio para aprenderlas. Tu escoges los tiempos , los tipos de verbos, los pronombres y los niveles ( 0 regular , 1 irregular ) con cuales tu quieres entreñarte. El programa te propone una combinacion aleatoria de uno tiempo/pronombre/verbo et te pregunta de escribrir su conjugacion. Si tu la sabes , tienes un punto mas en tu puntaje. 
	</div> 
	<div> 
		La parte "Vocabulario te propone de recordarte de las palabras que vimos durante los cursos , sin puntaje . Las palabras estan classificadas con temas  / fecha del curso et un nivel ( 0 facil, 1 mas dificil .. ). Puedes trabajar de frances hasta espñol o de español hasta frances.
	</div> 
{% endblock %}

