{% extends 'verbos/layout.html' %}
{% block body1 %} 

<h1> Bienvenidos! </h1> 
<br> 
<div id = container > 
	<div> <span> Este sitio ha sido construido para ayudar aprendrer vocabularios y conjagaciones en español , los que aprendimos (mas o menos )durante los cursos de español para majores en 2020/2022 en la escuela Ferdinand Flocon en Paris. No esta perfecto y totalmente correcto, lo siento por los errores. 
</span>
	<br> 
	<Span> Muchas gracias a nuestra professora , A.A , por sus multiples cualidades, aprendimos mucho sobre varias temas ... 
	</span>
	</div> 
	<div> La parte "Verbos" muestra las conjugaciones de varios verbos y "Verbos exo" es un exercio para aprenderlas. Escogimos los tiempos , los tipos de verbos, los pronombres y los regulares o irregulares con cuales quisieramos entreñarnos. El programa propone una combinacion aleatoria de uno tiempo/pronombre/verbo y pregunta escribrir su conjugacion. Si la sabemos , tenemos un punto mas en el puntaje. 

	</div> 
	<div> La parte "Vocabulario  propone de recordar de las palabras que vimos durante los cursos , sin puntaje . Las palabras estan classificadas con temas  / fecha del curso y un nivel ( 0 facil, 1 mas dificil .. ). Se puede trabajar de frances hasta español o de español hasta frances.
	</div> 
</div> 
{% endblock %}

