{% extends 'verbos/layout.html' %}


{% block jsscript %}

	<script>
		// ajoute une lettre a la fin de respuesta 
		function addletter(letter) {
			document.getElementById('myrespuesta').value = document.getElementById('myrespuesta').value + letter;
			// et on retourne placer le curseur sur le champ d'input du formulaire
			document.getElementById('myrespuesta').focus(); 
		};
		function initvarlocal1(myvar) {
			console.log("initvarlocal1 " + myvar );
			if (! localStorage.getItem(myvar)) {
				localStorage.setItem(myvar,"0");
			};
		};
		function verbos_error_list_show() { 
			e=document.getElementById("verbos_error_list");
			if (e.style.display=="block" ) { 
				e.style.display="none";
				localStorage.setItem("verbos_error_display","none");
			}
			else {
				if (localStorage.getItem("verbos_error_list").length > 2 ) {  
					e.style.display="block" ; 
					localStorage.setItem("verbos_error_display","block");
				}
			}
			};

		function play_mode_toggle() {
			console.log("play_mode_toggle 1 : play_mode="+ play_mode) ;
			if (play_mode=="mode_error" ) {
				play_mode="mode_run"; 
			}
			else {
				play_mode="mode_error"; }
			localStorage.setItem("play_mode",play_mode);
			document.getElementById("play_mode_id").value=localStorage.getItem('faltas');
			console.log("play_mode_toggle 2 : play_mode="+ play_mode) ;
		};
		function error_list_flush() { 
		// fontion effacement des la variables locale faltas qui contient la liste des erreurs - disable du bouton travailler sur les erreurs 
			localStorage.setItem("faltas","0");
			localStorage.setItem("verbos_error_list","");
			document.getElementById("verbos_error_list").style.display="none";
			localStorage.setItem("verbos_error_display","none");
			document.getElementById("play_mode_id").disabled=true; 
			document.getElementById("play_mode_id").checked=false; 
			localStorage.setItem("play_mode","mode_run");
		};


		
		initvarlocal("faltas"); 
		initvarlocal("play_mode");
		initvarlocal("itotal"); 
		initvarlocal("iexito");
		// verbos_error_list contient toutes les conjugaisons ou l'utilisateur s'est trompé 
		initvarlocal("verbos_error_list");
		initvarlocal("verbos_error_display");
		
		initlocal({{ jstiempos | safe }} ); 
		initlocal({{ jspronombres  | safe }} ); 
		initlocal({{ jsverbotipos | safe }} ); 
		initlocal({{ jslevels | safe }} ); 



		document.addEventListener('DOMContentLoaded',function() {
			// load des status checks precedement chargés dans le stockage local 
			checklocal( {{ jstiempos | safe }} );
			checklocal ( {{ jspronombres | safe }} );
			checklocal ( {{ jsverbotipos | safe }} );
			checklocal ( {{ jslevels     | safe }} );
			
			// gestions des events 
			//1) event sur la mise a jour via la case à cocher "select All" => deploiement sur les sous cases 
			// ici on selectionne tous les form input dont le name est checktodos
			document.querySelectorAll('input[name="checktodos"]').forEach(function(checkheader) {
				// pour chaque item touvé on applique un event lors d'un event de changement sur l'item 
				checkheader.onchange = function() {
					// on recupere le data-type de l'item trouvé : celui sert à identifier les sous item via leur name 
					type=checkheader.dataset["type"];
					// on selectione tous les item dont le name  vaut la valeur de type 
					bloc=document.querySelectorAll('input[name=' + type + ']');
					// on boucle sur tous les items trouvés pour assigner le status check a celui du header 
					for ( var i=0 ; i < bloc.length ; i++ ) {
						// on teste que le sous item est bien une checkbox 
						if ( bloc[i].type = "checkbox") { 
							// on assigne la valeur du header 
							bloc[i].checked = checkheader.checked;
							localStorage.setItem(bloc[i].id,checkheader.checked);
						} 
					}
				}
			});
			// disable / enable de la checkbox pour tester les verbes en error en f(chaine "faltas") 
			if( localStorage.getItem("faltas").indexOf(",") == -1 ) {
				// la chaine faltas vaut "0" , pas de verbe ) on disable la checkebox 
				document.getElementById("play_mode_id").disabled=true ;
			//	console.log("disabling checkbox play_mod_id")
			}
			else { 
				document.getElementById("play_mode_id").disabled=false ;
			//	console.log("enabling checkbox play_mod_id")
			}
				

			// recuperation du mode de fonctionnement run / error stocké 
			//
			document.getElementById("play_mode_id").value=localStorage.getItem("faltas");
			{% if mode_id == 0 %} 
				// contexte 1ier appel de la page on force un mode de jeu "mode_run"  
				document.getElementById("play_mode_id").checked=false;
				localStorage.setItem("play_mode","mode_run");
				play_mode="mode_run";
			{% else %}
				// ici on recharge la checkbox avec son statut pris dans la variable locale play_mode 
				// sa value vaut le contenu de la variable faltas qui est la liste des idi des conjugaison ou on a fait un faute
				play_mode=localStorage.getItem("play_mode"); 
			//	console.log("localStorage play_mode ="+ play_mode );
				document.getElementById("play_mode_id").value=localStorage.getItem("faltas");
				if ( play_mode == "mode_error") { 
					document.getElementById("play_mode_id").checked=true ;
			//		console.log("setting play_mode checkbox to checked") ;
					}
				console.log("document.getElementById(play_mode_id).value="+document.getElementById('play_mode_id').value);
			{% endif %}
			console.log("loto_winner",{{ loto_winner }} ) ;
			// mise en couleur du compteur de mots selectionnés si celui ci vaut 0 ( loto_winner = -1  
			{% if  loto_winner   == -1 %}   
				compteur_selectados = document.getElementById("compteur_selectados")  
			//	console.log("loto_winner in the loop",{{ loto_winner }} ) 
				compteur_selectados.style.backgroundColor="red" 
			{% endif %} 

			//2) ici  on clique sur une des checkbox : on met à jour la variable locale 
			document.querySelectorAll('[data-storage]').forEach(function(checkbox) {
				checkbox.onchange = function() {
			//		console.log(" checkbox cliquée " + checkbox.id );
					localStorage.setItem(checkbox.id,checkbox.checked);
				}
			});
			//3) ici on gere le clique sur un bouton lettre pour ajouter cette lettre à la réponse 
			document.querySelectorAll('[data-letter]').forEach(function(letter) { 
				letter.onclick = function() { 
					console.log("letter cliqué" + letter.id ) ; 
					document.getElementById('myrespuesta').value = document.getElementById('myrespuesta').value + letter.dataset["letter"];
					console.log("nouvelle value" + document.getElementById('myrespuesta').value ) ; 

				}
			});
			//4) mise en forme du resultat du test précedent
			cexito=localStorage.getItem("iexito");
			ctotal=localStorage.getItem("itotal");
			verbos_error_list=localStorage.getItem("verbos_error_list");

			iexito=parseInt(cexito);
			itotal=parseInt(ctotal); 
			if (itotal==0) { 
				localStorage.setItem("verbos_error_list","");
			}

			resuelto= document.getElementById('resuelto').innerText;
			console.log(" resuelto = " + resuelto );
			if (resuelto == "1" ){
				console.log("resulto =1") ;
				document.getElementById('resuelto').innerText="EXITO !! ";
		 		document.getElementById('resuelto').style.backgroundColor="lightgreen";
				itotal=itotal+1;
				iexito=iexito+1;
				verbos_error_list_append=localStorage.getItem("verbos_error_list") ; 
				console.log("total="+itotal + " exito=" + iexito);
			}
				else {
				if (resuelto=="0" ) {
					document.getElementById('resuelto').innerText="FRACASSO !! ";
					console.log("resulto = 0") ;
		 			document.getElementById('resuelto').style.backgroundColor="tomato";
					itotal=itotal+1;
					console.log("total="+itotal+ " exito=" + iexito);
					document.getElementById('tracerep').innerText=" {{tracerep}}";
					document.getElementById('tracerep').style.color="tomato";
					document.getElementById('tracerep').style.textDecoration="line-through";
					// on memorise l'erreur avec le numero de conjugacion 
					localStorage.setItem("faltas",localStorage.getItem("faltas")+","+"{{trace_id}}");
					verbos_error_list=localStorage.getItem("verbos_error_list") + " \n  " + " {{trace}}" + " [ falta: " + "{{ tracerep }}" + "]" ; 
					localStorage.setItem("verbos_error_list",verbos_error_list);
				} 
					else {
						document.getElementById('resuelto').innerText=" Play  !! ";
						console.log("resulto = else ") ;
		 				document.getElementById('resuelto').style.backgroundColor="white";
						iexito=0;
						itotal=0; 
						console.log("total="+itotal+ " exito=" + iexito);
						
					}
				}
				localStorage.setItem("itotal",itotal);
				localStorage.setItem("iexito",iexito);
				localStorage.setItem("verbos_error_list",verbos_error_list);
				document.getElementById('verbos_error_list').innerText=verbos_error_list; 
				document.getElementById('verbos_error_list').style.display=localStorage.getItem("verbos_error_display"); 
				if (localStorage.getItem("verbos_error_display") == "none" ) { 
					document.getElementById("error_list_show_id").checked=false ; }
				else { 
					document.getElementById("error_list_show_id").checked=true ; }
				document.getElementById('exito').innerText=iexito.toString();
		 		document.getElementById('total').innerText=itotal.toString();
			//5) affichage du resulta précédent


		});

	</script>




{%  endblock %}





{% block body1 %} 
<table> 
	<tr> 
		<td> 
			<span id="resuelto">{{resuelto}}</span> 
			<span id="exito" > 0 </span>
			<span id="slash"> / </span>
			<span id="total" > 0 </span> 
		</td>
		<td> 
			{{conjugacion_selectada.verbo}}
			{{conjugacion_selectada.tiempo}}
			{{conjugacion_selectada.pronombre }}
		</td>
	</tr>
	<tr>
		<td>
			<span> Cual es la conjugacion ? </span> 
		</td> 
		<td> 
			<form action= "{% url 'verbos_exo_run'  1   conjugacion_selectada.id %}"  method="post"> 
			{% csrf_token %}
			<label for="your_name">  </label> 
			<input autofocus id="myrespuesta" type="text" name="respuesta"  autocapitalize=off >
			<input type="submit" value="Submit"> 
			</input>

		</td>
	</tr>
	<tr>
		<td>
<span type="text" class="lettre" id="lettre-a" onclick="addletter('á')" value="á" > á </span>    
<span type="text" class="lettre" id="lettre-e" onclick="addletter('é')" value="é" > é </span>    
<span type="text" class="lettre" id="lettre-i" onclick="addletter('í')" value="í" > í </span>    
<span type="text" class="lettre" id="lettre-o" onclick="addletter('ó')" value="ó" > ó </span>    
<span type="text" class="lettre" id="lettre-n" onclick="addletter('ñ')" value="ñ" > ñ </span>    

		</td>
		<td>
			<span id="trace">{{trace}}</span>
			<span id="tracerep"> </span>
		</td>
	</tr>
</table>
<br>  
<span id="compteur_selectados"> Estas trabajando sobre {{ conjugacion_selectada_count }} conjugaciones </span> 
<br> 
 			 <input type="checkbox" id="play_mode_id" name="play_mode_name"  onclick="play_mode_toggle()">
   			 <label for="play_mode_id">Play error</label>
  			 <input type="checkbox" id="error_list_flush_id" name="error_list_flush_name"  onclick="error_list_flush()">
   			 <label for="error_list_flush_id">Flush error list</label>
  			 <input type="checkbox" id="error_list_show_id" name="error_list_show_name"  onclick="verbos_error_list_show()">
   			 <label for="error_list_show_id">Show error list</label>
<div id="verbos_error_list"    > </div> 

<div id="container"> 
	<div> 
	<input type="checkbox" id="checkbox_tiempo"   name="checktodos"  data-type="tiempo" >
	<label for="checkbox_tiempo"> Select all   </label>
	<br>
	{% for tiempo  in tiempos %} 
	<input type="checkbox" id="Tiempo-{{tiempo.id}}" name="tiempo" data-storage="true" value="{{tiempo.id}}"  {{ tiempo.checked }} >
	<label for="Tiempo-{{tiempo.id}}"> {{tiempo}}    </label>
	<br>
	{% endfor %} 
	</div> 


	<div> 
		<input type="checkbox" id="checkbox_pronombre"   name="checktodos"   data-type="pronombre" >
	<label for="checkbox_pronombre"> Select all  </label>
	<br>
	{% for pronombre   in pronombres %} 
	<input type="checkbox" id="Pronombre-{{pronombre.id}}" name="pronombre" data-storage="true" value="{{pronombre.id }}" {{pronombre.checked}} >
	<label for="Pronombre-{{pronombre.id}}"> {{pronombre}}   </label>
	<br>
	{% endfor %} 
	</div> 


  	<div> 
		<input type="checkbox" id="checkbox_verbotipo"   name="checktodos"   data-type="verbotipo" >
	<label for="checkbox_verbotipo"> Select all  </label>
	<br>
	{% for verbotipo   in verbotipos %} 
	<input type="checkbox" id="Verbotipo-{{verbotipo.id}}" name="verbotipo" data-storage="true" value="{{verbotipo.id }}"  {{verbotipo.checked}} >
	<label for="Verbotipo-{{verbotipo.id}}"> {{verbotipo}}   </label>
	<br>
	{% endfor %} 
	</div> 
   


  	<div> 
		<input type="checkbox" id="checkbox_level"   name="checktodos"   data-type="level" >
	<label for="checkbox_verbotipo"> Select all  </label>
	<br>
	{% for level   in levels %} 
	<input type="checkbox" id="Level-{{level.id}}" name="level" data-storage="true" value="{{level.id }}"  {{level.checked}} >
	<label for="Level-{{level.id}}"> {{level}}   </label>
	<br>
	{% endfor %} 
	</div> 
	</div> 
</form>

{% endblock %}

