{% extends 'verbos/layout.html' %}


{% block jsscript %}

	<script> 
		document.addEventListener('DOMContentLoaded',function() {
			// ici on selectionne tous les form input dont le name est checktodos
			document.querySelectorAll('input[name="checktodos"]').forEach(function(checkheader) {
				// pour chaque item touvé on applique un event lors d'un event de changement sur l'item 
				checkheader.onchange = function() {
					// on recupere le data-type de l'item trouvé : celui sert à identifier les sous item via leur name 
					type=checkheader.dataset["type"];
					// on selectione tous les item dont le name  vaut la valeur de type 
					bloc=document.querySelectorAll('input[name=' + type + ']');
					// on boucle sur tous les items trouvés pour assigner le status check a celui du header 
					for ( var i=0 ; i < bloc.length ; i++ ) {
						// on teste que le sous item est bien une checkbox 
						if ( bloc[i].type = "checkbox") 
							// on assigne la valeur du header 
							bloc[i].checked = checkheader.checked 
					}
				}
			})
		});

	</script>




{%  endblock %}





{% block body1 %} 

<form action= "{% url 'verbos_exo_run' conjugacion_selectada.id %}"  method="post"> 
{% csrf_token %}
{{conjugacion_selectada.tiempo}}
{{conjugacion_selectada.verbo}}
{{conjugacion_selectada.pronombre }}
<br> 
<label for="your_name"> Cual es la conjugacion ? </label> 
	<input autofocus id="your_name" type="text" name="respuesta" >
	<input type="submit" value="Submit">    
 
	{{tiempos_checked}}
<br> 
{{conjugacion_selectada.id}}
{{conjugacion_selectada.tiempo}}
{{conjugacion_selectada.verbo}}
{{conjugacion_selectada.pronombre }}
{{conjugacion_selectada.conjugacion}}
{{conjugacion_selectada_count }}
loto_winner {{loto_winner }}
pk-winner {{pk_winner  }}
<br> Resuelto : {{ resuelto }}
<br> trace : {{trace}} 

<div id="container"> 
	<div> 
	<input type="checkbox" id="checkbox_tiempo"   name="checktodos"  data-type="tiempo" >
	<label for="checkbox_tiempo"> Select all   </label>
	<br>
	{% for tiempo  in tiempos %} 
	<input type="checkbox",id="{{tiempo.id}}" name="tiempo" value="{{tiempo.id}}"   {{tiempo.checked}} >
	<label for="{{tiempo.id}}"> {{tiempo}}    </label>
	<br>
	{% endfor %} 
	</div> 


	<div> 
		<input type="checkbox" id="checkbox_pronombre"   name="checktodos"   data-type="pronombre" >
	<label for="checkbox_pronombre"> Select all  </label>
	<br>
	{% for pronombre   in pronombres %} 
	<input type="checkbox",id="{{pronombre.id}}" name="pronombre" value="{{pronombre.id }}" {{pronombre.checked}} >
	<label for="{{pronombre.id}}"> {{pronombre}}   </label>
	<br>
	{% endfor %} 
	</div> 


  	<div> 
		<input type="checkbox" id="checkbox_verbotipo"   name="checktodos"   data-type="verbotipo" >
	<label for="checkbox_verbotipo"> Select all  </label>
	<br>
	{% for verbotipo   in verbotipos %} 
	<input type="checkbox",id="{{verbotipo.id}}" name="verbotipo" value="{{verbotipo.id }}"  {{verbotipo.checked}} >
	<label for="{{verbotipo.id}}"> {{verbotipo}}   </label>
	<br>
	{% endfor %} 
	</div> 
   


	<div> 
	{% for level  in levels %} 
	<h4> {{level}}  </h4> 

	{% endfor %} 
	</div> 
<form>
{% endblock %}

