{% extends 'verbos/layout.html' %}
{% block jsscript %}
	<script>
		//script pour coloriser les conjugaisos exceptionnelles 
		// elles sont identifier par un span avec un data-level qui vaut le level de conjugacion 
		// les conjugaciones normales ont level = 0 ; donc on filtre celle qui ont unlevel > 0 pour les affichier en rouge 
		document.addEventListener('DOMContentLoaded',function() {
			document.querySelectorAll('span').forEach(function(span) {
				if (span.dataset["level"] > 0)  {
					span.style.color='red';
				}
			})
		});
	</script>




{% endblock %}

{% block body1 %} 
{% regroup conjugacions  by tiempo as conjugacion_list %} 

	<h2> verbo : {{ verbo.verbo }} </h2> 
		</ul>
			<li> tipo : {{ verbo.tipo }} </li> 
		</ul> 
	<h3> Conjugacion : </h3> 
	<!--   %	<ul>--> 
	<div id="container"> 
	{% for conjugacion in conjugacion_list %}
		<div>
		  {{ conjugacion.grouper }} 
			<ul> 
			{% for conjugacion in conjugacion.list %}
			<li> {{ conjugacion.pronombre }} : <span data-level = "{{ conjugacion.level }}">  {{  conjugacion }} </span>  </li> 
			{% empty %} 
			<li> no conjugacion por este verbo </li> 
			{% endfor %} 
			</ul>
		</div>
	{% endfor %}
	</div> 
	<a href =" {% url 'index' %}" > cambiar de verbo </a> 
{% endblock %}

